@import './../../assets/sass/ui-kit';

%scrolling-example {
  width: 17em;

  @include media($mobile) {
    width: 25em;
  }

  @include media($tablet) {
    width: 35em;
  }

  @include media($desktop) {
    width: 45em;
  }
}

.guide-section-nav {
  @include media($tablet) {
    margin-top: ($base-spacing * 4);
  }
}

.guide-section-header {
  margin-bottom: $base-spacing * 2;
}

.guide-example {
  border: solid 5px $non-white;
  margin: $base-spacing 0;
  padding: $base-spacing;

}

.guide-example--type {
  @extend %scrolling-example;
  background-color: $non-white;
  border-radius: $base-border-radius;
  color: $dark-aqua;
  margin-bottom: $small-spacing;
  padding: 2em;
  overflow: auto;

  h4 {
    margin-top: 0;
  }

  p {
    font-size: 2em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

pre {
  @extend %scrolling-example;
  margin: 0 0 $base-spacing;
  white-space: pre;
  overflow: scroll;
  background-color: $non-white;
  padding: $small-spacing;
}

pre,
code {
  color: $navy;
}

.guide-colour {
  float: left;
  width: 43%;
  margin-right: 3%;
  margin-bottom: $gutter;
  border: solid 1px $light-grey;

  @include media($tablet) {
    float: none;
    margin-right: 0;
    @include span-columns(3 of 12);
    @include omega(4n);
  }

  .swatch {
    padding: 50% 0;
    border-bottom: solid 1px $light-grey;
  }

  .text {
    padding: $small-spacing;
    margin: 0;

    small {
      display: block;
      line-height: 1.5;
    }
  }
}

.guide-colour-examples {
  @include outer-container;
}

.guide-colour-block {
  padding: $small-spacing $small-spacing $small-spacing $medium-spacing;

  .invert {
    float: right;
    padding: 0 0.5em;
    border-radius: $base-border-radius;
    font-weight: bold;
  }
}

// Colour background classes
.bg-black {
  background-color: $black;
  color: $white;

  .invert {
    background-color: $white;
    color: $black;
  }
}

.bg-non-black {
  background-color: $non-black;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $non-black;
  }
}

.bg-grey {
  background-color: $grey;
  color: $white;

  .invert {
    background-color: $white;
    color: $grey;
  }
}

.bg-dark-grey {
  background-color: $dark-grey;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $dark-grey;
  }
}

.bg-light-grey {
  background-color: $light-grey;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $light-grey;
  }
}

.bg-lighter-grey {
  background-color: $lighter-grey;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $lighter-grey;
  }
}

.bg-non-white {
  background-color: $non-white;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $non-white;
  }
}

.bg-white {
  background-color: $white;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $white;
  }
}

.bg-aqua {
  background-color: $aqua;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $aqua;
  }
}

.bg-dark-aqua {
  background-color: $dark-aqua;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $dark-aqua;
  }
}

.bg-darker-aqua {
  background-color: $darker-aqua;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $darker-aqua;
  }
}

.bg-light-aqua {
  background-color: $light-aqua;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $light-aqua;
  }
}

.bg-navy {
  background-color: $navy;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $navy;
  }
}

.bg-dark-navy {
  background-color: $dark-navy;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $dark-navy;
  }
}

.bg-light-navy {
  background-color: $light-navy;
  color: $white;

  .invert {
    background-color: $white;
    color: $light-navy;
  }
}

.bg-error {
  background-color: $red;
  color: $white;

  .invert {
    background-color: $white;
    color: $red;
  }
}

.bg-light-red {
  background-color: $light-red;
  color: $red;

  .invert {
    background-color: $red;
    color: $light-red;
  }
}

.bg-success {
  background-color: $green;
  color: $white;

  .invert {
    background-color: $white;
    color: $green;
  }
}

.bg-light-green {
  background-color: $light-green;
  color: $green;

  .invert {
    background-color: $green;
    color: $light-green;
  }
}

.bg-yellow {
  background-color: $yellow;
  color: $white;
}

.bg-light-yellow {
  background-color: $light-yellow;
  color: $white;
}
