@import './../../assets/sass/ui-kit';

.jump-links {
  display: flex;
  flex-wrap: wrap;

  li {
    flex-basis: 50%;
  }
}

pre {
  margin: 0 0 $base-spacing;
  padding: $small-spacing;
  background-color: $background-contrast-colour;
}

// ------------------------------------------------------------------------------
//   group prettyprint.js styling
// ------------------------------------------------------------------------------
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000;
}  /* plain text */

.str {
  color: #080;
}  /* string content */

.kwd {
  color: #008;
}  /* a keyword */

.com {
  color: #800;
}  /* a comment */

.typ {
  color: #606;
}  /* a type name */


.lit {
  color: #066;
}  /* a literal value */

.pun,
.opn,
.clo {
  color: #660;
} /* punctuation, lisp open bracket, lisp close bracket */

.tag {
  color: #008;
}  /* a markup tag name */

.atn {
  color: #606;
}  /* a markup attribute name */

.atv {
  color: #080;
}  /* a markup attribute value */

.dec,
.var {
  color: #606;
}  /* a declaration; a variable name */

.fun {
  color: red;
}  /* a function name */

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #044;
  }

  .pun,
  .opn,
  .clo {
    color: #440;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #404;
  }

  .atv {
    color: #060;
  }

}
