@import './../../assets/sass/ui-kit';

%scrolling-example {
  width: 100%;
}

.guide-section {
  .wrapper {
    box-sizing: border-box;;
    min-width: 0;
  }
}

.guide-section-nav {
  @include media($tablet) {
    margin-top: ($kit-spacing-base * 4);
  }
}

.guide-section-header {
  margin-bottom: $kit-spacing-base * 2;
}

.guide-example {
  border: solid 5px $off-white;
  margin: $kit-spacing-base 0;
  margin-bottom: 0;
  padding: $kit-spacing-base;
}

.guide-example--type {
  @extend %scrolling-example;
  background-color: $off-white;
  border-radius: $kit-border-radius-base;
  color: $dark-aqua;
  margin-bottom: $kit-spacing-small;
  padding: 2em;
  overflow: auto;

  p {
    font-size: 2em;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

pre {
  @extend %scrolling-example;
  margin: 0 0 $kit-spacing-base;
  white-space: pre;
  overflow: scroll;
  background-color: $off-white;
  padding: $kit-spacing-small;
  max-height: 15.9em;
}

pre,
code {
  color: $navy;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr:nth-child(even) {
    background-color: $off-white;
  }

  td,
  th {
    border-bottom: solid 1px $light-grey;
    padding: $kit-spacing-tiny;
    font-size: $kit-font-size-small;
    text-align: left;

    @include media($tablet) {
      padding: $kit-spacing-small;
      font-size: initial;
    }
  }

  thead {
    border-bottom: solid 2px $grey;
  }
}

.guide-colour {
  float: left;
  width: 43%;
  margin-right: 3%;
  margin-bottom: $gutter;
  border: solid 1px $light-grey;

  @include media($tablet) {
    float: none;
    margin-right: 0;
    @include span-columns(3 of 12);
    @include omega(4n);
  }

  .swatch {
    padding: 50% 0;
    border-bottom: solid 1px $light-grey;
  }

  .text {
    padding: $kit-spacing-small;
    margin: 0;

    small {
      display: block;
      line-height: 1.5;
    }
  }
}

.guide-colour-examples {
  @include outer-container;
}

.guide-colour-block {
  padding: $kit-spacing-small $kit-spacing-small $kit-spacing-small $kit-spacing-medium;

  .invert {
    float: right;
    padding: 0 0.5em;
    border-radius: $kit-border-radius-base;
    font-weight: bold;
  }
}

// Colour background classes

.bg-off-black {
  background-color: $off-black;
  color: $off-white;

  .invert {
    background-color: $off-white;
    color: $off-black;
  }
}

.bg-grey {
  background-color: $grey;
  color: $white;

  .invert {
    background-color: $white;
    color: $grey;
  }
}

.bg-light-grey {
  background-color: $light-grey;
  color: $off-black;

  .invert {
    background-color: $off-black;
    color: $light-grey;
  }
}

.bg-off-white {
  background-color: $off-white;
  color: $off-black;

  .invert {
    background-color: $off-black;
    color: $off-white;
  }
}

.bg-white {
  background-color: $white;
  color: $off-black;

  .invert {
    background-color: $off-black;
    color: $white;
  }
}

.bg-aqua {
  background-color: $aqua;
  color: $off-white;

  .invert {
    background-color: $off-white;
    color: $aqua;
  }
}

.bg-dark-aqua {
  background-color: $dark-aqua;
  color: $off-white;

  .invert {
    background-color: $off-white;
    color: $dark-aqua;
  }
}

.bg-darker-aqua {
  background-color: $darker-aqua;
  color: $off-white;

  .invert {
    background-color: $off-white;
    color: $darker-aqua;
  }
}

.bg-light-aqua {
  background-color: $light-aqua;
  color: $off-black;

  .invert {
    background-color: $off-black;
    color: $light-aqua;
  }
}

.bg-lighter-aqua {
  background-color: $lighter-aqua;
  color: $off-black;

  .invert {
    background-color: $off-black;
    color: $lighter-aqua;
  }
}

.bg-navy {
  background-color: $navy;
  color: $off-white;

  .invert {
    background-color: $off-white;
    color: $navy;
  }
}

.bg-dark-navy {
  background-color: $dark-navy;
  color: $off-white;

  .invert {
    background-color: $off-white;
    color: $dark-navy;
  }
}

.bg-maroon {
  background-color: $maroon;
  color: $white;

  .invert {
    background-color: $white;
    color: $maroon;
  }
}

.bg-error-red {
  background-color: $red;
  color: $white;

  .invert {
    background-color: $white;
    color: $red;
  }
}

.bg-light-red {
  background-color: $light-red;
  color: $red;

  .invert {
    background-color: $red;
    color: $light-red;
  }
}

.bg-success-green {
  background-color: $green;
  color: $white;

  .invert {
    background-color: $white;
    color: $green;
  }
}

.bg-light-green {
  background-color: $light-green;
  color: $green;

  .invert {
    background-color: $green;
    color: $light-green;
  }
}

.bg-warning-yellow {
  background-color: $yellow;
}

.bg-light-yellow {
  background-color: $light-yellow;
  color: $off-black;

  .invert {
    background-color: $off-black;
    color: $light-yellow;
  }
}

.bg-info-blue {
  background-color: $blue;
}

.bg-light-blue {
  background-color: $light-blue;
  color: $off-black;

  .invert {
    background-color: $off-black;
    color: $light-blue;
  }
}
