@import './../../assets/sass/ui-kit';

.guide-jump-links {
  display: flex;
  flex-wrap: wrap;

  li {
    flex-basis: 50%;
  }
}

.guide-section--depth-2 {
  border-top: solid 1px $light-grey;
  margin-top: $base-spacing * 2;
}

.guide-example {
  border: solid 5px $non-white;
  margin: $base-spacing 0;
  padding: $base-spacing;

  :first-child {
    // margin-top: 0;
  }
}

.guide-example--type {
  background-color: $non-white;
  border-radius: $base-border-radius;
  color: $dark-aqua;
  margin-bottom: $small-spacing;
  padding: 2em;
  overflow: auto;

  h4 {
    margin-top: 0;
  }

  p {
    font-size: 2em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

pre {
  background-color: $background-contrast-colour;
  color: $navy;
  margin: 0 0 $base-spacing;
  overflow: scroll;
  padding: $small-spacing;
  white-space: pre;
  @include media($tablet) {
    white-space: normal;
  }
}

code {
  color: $navy;
}

.guide-colour {
  @include span-columns(3);
  @include omega(4n);
  margin-bottom: $gutter;
  border: solid 1px $light-grey;

  .swatch {
    padding: 50% 0;
    border-bottom: solid 1px $light-grey;
  }

  .text {
    padding: $small-spacing;
    margin: 0;

    small {
      display: block;
      line-height: 1.5;
    }
  }
}

.guide-colour-examples {
  @include outer-container;
}

.guide-colour-block {
  padding: $small-spacing $small-spacing $small-spacing $medium-spacing;

  .invert {
    float: right;
    padding: 0 0.5em;
    border-radius: $base-border-radius;
    font-weight: bold;
  }
}

// Colour background classes
.bg-black {
  background-color: $black;
  color: $white;

  .invert {
    background-color: $white;
    color: $black;
  }
}

.bg-non-black {
  background-color: $non-black;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $non-black;
  }
}

.bg-grey {
  background-color: $grey;
  color: $white;

  .invert {
    background-color: $white;
    color: $grey;
  }
}

.bg-dark-grey {
  background-color: $dark-grey;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $dark-grey;
  }
}

.bg-light-grey {
  background-color: $light-grey;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $light-grey;
  }
}

.bg-lighter-grey {
  background-color: $lighter-grey;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $lighter-grey;
  }
}

.bg-non-white {
  background-color: $non-white;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $non-white;
  }
}

.bg-white {
  background-color: $white;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $white;
  }
}

.bg-aqua {
  background-color: $aqua;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $aqua;
  }
}

.bg-dark-aqua {
  background-color: $dark-aqua;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $dark-aqua;
  }
}

.bg-darker-aqua {
  background-color: $darker-aqua;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $darker-aqua;
  }
}

.bg-light-aqua {
  background-color: $light-aqua;
  color: $non-black;

  .invert {
    background-color: $non-black;
    color: $light-aqua;
  }
}

.bg-navy {
  background-color: $navy;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $navy;
  }
}

.bg-dark-navy {
  background-color: $dark-navy;
  color: $non-white;

  .invert {
    background-color: $non-white;
    color: $dark-navy;
  }
}

.bg-light-navy {
  background-color: $light-navy;
  color: $white;

  .invert {
    background-color: $white;
    color: $light-navy;
  }
}

.bg-error {
  background-color: $red;
  color: $white;

  .invert {
    background-color: $white;
    color: $red;
  }
}

.bg-light-red {
  background-color: $light-red;
  color: $red;

  .invert {
    background-color: $red;
    color: $light-red;
  }
}

.bg-success {
  background-color: $green;
  color: $white;

  .invert {
    background-color: $white;
    color: $green;
  }
}

.bg-light-green {
  background-color: $light-green;
  color: $green;

  .invert {
    background-color: $green;
    color: $light-green;
  }
}

.bg-yellow {
  background-color: $yellow;
  color: $white;
}

.bg-light-yellow {
  background-color: $light-yellow;
  color: $white;
}
