<h3>Breadcrumbs</h3>

<nav class="breadcrumbs" aria-label="breadcrumb">
  <div class="wrapper">
    <ul>
      <li><a href="#" title="Home">Home</a></li>
      <li><a href="#" title="Menu1">Menu1</a></li>
      <li>Menu2</li>
    </ul>
  </div>
</nav>

<h3>Inverted breadcrumbs</h3>

<div class="bg-dark-navy">
  <nav class="breadcrumbs--inverted" aria-label="breadcrumb">
    <div class="wrapper">
      <ul>
        <li><a href="#" title="Home">Home</a></li>
        <li><a href="#" title="Menu1">Menu1</a></li>
        <li>Menu2</li>
      </ul>
    </div>
  </nav>
</div>
