<p class="callout">A callout.</p>

<p class="callout--warning">Warning: be careful&hellip;</p>

<p class="callout--error">Error: oh no! There appears to be an problem&hellip;</p>

<p class="callout--info">Info: did you know&hellip;</p>

<p class="callout--success">Success: nicely done.</p>

<div class="callout--calendar-event">
  <span class="next-event">The next public holiday is:</span>
  <p><time datetime="2017-01-01T00:00:00+00:00">Sunday 1 January</time>
    <span class="event-name">New Year's Day</span>
  </p>
</div>
