<form>
  <fieldset>
    <legend>Which electronic devices do you own?</legend>
    <input id="phone" name="reply" type="checkbox" value="phone"/>
    <label for="phone">Phone</label>
    <input id="tablet" name="reply" type="checkbox" value="tablet"/>
    <label for="tablet">Tablet</label>
    <input id="laptop" name="reply" type="checkbox" value="laptop"/>
    <label for="laptop">Laptop</label>
    <input id="desktop" name="reply" type="checkbox" value="desktop"/>
    <label for="desktop">Desktop computer</label>
  </fieldset>
</form>
