<div class="controls--contrast">
  <div class="wrapper">
    <section class="left">
      <nav class="controls">
        <p class="inline-links--inverted">
          <a href="/editorial">Editorial</a>
          <b>/</b>
          <a href="/editorial/4">Times and dates</a>
        </p>
        <ul class="secondary-controls">
          <li><a href="/editorial/4/nodes/32">View in editorial</a></li>
          <li><a href="/editorial/4/nodes/prepare?parent_id=32">New page</a></li>
          <li><a href="/editorial/news/new?publisher=4">New news article</a></li>
          <li><a href="/editorial/4/submissions/new?node_id=32">Edit</a></li>
          <li><a href="/editorial/4/nodes/32/edit">Edit metadata</a></li>
          <li class="secondary-controls"><a href="/editorial/4/requests/new">Request membership</a></li>
        </ul>
      </nav>
    </section>
    <section class="right">
      <ul class="inline-links--inverted">
        <li><i class="fa-user fa"></i> Willy Wonka</li>
        <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Sign out</a></li>
      </ul>
    </section>
  </div>
</div>
