<footer role="contentinfo">
  <div class="wrapper">
    <section class="footer-top">
      <nav>
        <div class="footer-menu">
          <h2>Menu title</h2>
          <ul>
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h2>Menu title</h2>
          <ul>
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h2>Menu title</h2>
          <ul>
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <h2>Menu title</h2>
          <ul>
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
          </ul>
        </div>
      </nav>
    </section>
    <section>
      <div class="footer-logo">
        <img alt="Australian Government Coat of Arms" src="https://gov-au-ui-kit.apps.staging.digital.gov.au/latest/img/coat-of-arms.png">
      </div>
      <div class="footer-links">
        <nav>
          <ul>
            <li><a href="#">Global link</a></li>
            <li><a href="#">Global link</a></li>
          </ul>
        </nav>
        <p>
          &copy; Commonwealth of Australia <br>
          <a href="https://github.com/AusDTO/gov-au-ui-kit/blob/master/LICENSE.md" rel="external license">
            Licensed under the MIT License.
          </a>
        </p>
      </div>
    </section>
  </div>
</footer>
