<h3>Vertical style</h3>
<ul class="list-vertical">
  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <div class="meta">
        <time datetime="2016-10-28 00:00">28 October 2016</time>
        <a href="#" rel="author">Jane Blog</a>
      </div>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <div class="meta">
        <time datetime="2016-10-28 00:00">28 October 2016</time>
        <a href="#" rel="author">Jane Blog</a>
      </div>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
    <figure>
      <img src="http://placehold.it/600x338?text=Placeholder" alt="Example image"/>
    </figure>
  </li>
</ul>
<h3>Vertical style &mdash; thirds</h3>
<ul class="list-vertical--thirds">
  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
  </li>
</ul>
<h3>Vertical style &mdash; fourths</h3>
<ul class="list-vertical--fourths">
  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
  </li>
</ul>

<p><a class="see-more" href="#">See more</a></p>
