<ul class="list-horizontal">
  <!-- List item  -->
    <li>
      <article>
        <h3>
          <a href="#">Digital Transformation Agency</a>
        </h3>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
      </article>
    </li>
    <!-- List item with metadata no image -->
    <li>
      <article>
        <h3>
          <a href="#">Digital Transformation Agency</a>
        </h3>
        <div class="meta">
          <time datetime="2016-10-28 00:00">28 October 2016</time>
          <a href="#" rel="author">Jane Blog</a>
        </div>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
        <footer class="tags">
          <dl>
            <dt>Topics:</dt>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
          </dl>
        </footer>
      </article>
    </li>
  <!-- Hero list item -->
  <li class="hero-item">
    <figure>
      <img src="/assets/img-placeholder.gif" alt="Example image"/>
    </figure>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
    </article>
  </li>
  <!-- List item with an image -->
  <li>
    <figure>
      <img src="/assets/img-placeholder.gif" alt="Example image"/>
    </figure>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <div class="meta">
        <time datetime="2016-10-28 00:00">28 October 2016</time>
        <a href="#" rel="author">Jane Blog</a>
      </div>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>
  <!-- List item with no image where there should be one -->
  <li>
    <figure>
    </figure>
    <article>
      <h3>
        <a href="#">Digital Transformation Agency</a>
      </h3>
      <div class="meta">
        <time datetime="2016-10-28 00:00">28 October 2016</time>
        <a href="#" rel="author">Jane Blog</a>
      </div>
      <p>Simpler, clearer, faster government services [&hellip;]</p>
      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>
</ul>
<p><a class="see-more" href="#">See more</a></p>
