<nav class="local-nav local-nav-demo" aria-label="main navigation">
  <h1 class="is-visuallyhidden">Menu</h1>
  <ul>
    <li><a href="#" class="is-active">Current section</a>
      <ul>
        <li><a href="#" class="is-active">Current sub-section</a>
          <ul>
            <li><a href="#">Grandchild link</a>
            </li>
            <li><a href="#" class="is-active">Current page</a></li>
          </ul>
        </li>
      </ul>
      <ul>
      <li><a href="#">Child link</a></li>
      <li><span class="placeholder-link">Child link with placeholder styling</span></li>
      </ul>
      </ul>
    </li>
  </ul>
</nav>
