<header role="banner">
  <section class="page-header">
    <div class="wrapper">
      <div class="page-header__logo">
        <a href="/" class="logo">Design Guide</a>
      </div>
      <div class="site-nav">
        <nav class="site-nav__wrapper">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</header>
