<details open data-label="accordion-example" aria-expanded="true">
  <summary><span class="label">An accordion</span> <span class="badge">1 of 2</span></summary>
  <div class="accordion-panel">
      <p>Text in the accordion.</p>
  </div>
</details>
