<span class="{{modifier_class}}">draft</span>
<span class="button.contrast">Alpha</span>
<span class="badge-colour-beta">Beta</span>
<span class="badge-colour-error">Error</span>
<span class="badge-colour-success">Success</span>
<span class="badge-colour-default">1</span>
<span class="badge-colour-default">2</span>
<span class="badge-colour-default">3</span>
