<h4>Heading with a badge <span class="badge--default">in-progress</span></h4>
<p>Denotes alpha status <span class="badge--alpha">alpha</span></p>
<p>Something's in beta? Use this <span class="badge--beta">beta</span></p>
<p>Alert the user to some kind of error <span class="badge--error">something's wrong</span></p>
<p>Everything's A-OK, and this badge shows it <span class="badge--success">done</span></p>
