<span class="badge--draft">draft **doesn't exist?**</span>
<span class="badge--alpha">Alpha</span>
<span class="badge--beta">Beta</span>
<span class="badge">1</span>
<span class="badge">2</span>
<span class="badge">3</span>
