<ul>
  <li><a href="#">This is a basic link.</a></li>
  <li><a href="https://google.com" rel="external">This link points to an external resource.</a></li>
</ul>

<form>
  <p><label>Topic: <input name=topic id="textin" type="text"> <a href="#" rel="help">(Help)</a></label></p>
</form>
