<h4>Default</h4>
  <p>
    <button class="default">Button</button>
    <a href="" role="button" class="default">Link as a button</a>
    <button class="button" disabled>Disabled button</button>
  </p>

<h4><code>.contrast</code> style</h4>
  <p>
    <button class="contrast">Button</button>
    <a href="" role="button" class="contrast">Link as a button</a>
    <button class="button" disabled>Disabled button</button>
  </p>

<h4><code>.secondary</code> style</h3>
  <p>
    <button class="secondary">Button</button>
    <a href="" role="button" class="secondary">Link as a button</a>
    <button class="button" disabled>Disabled button</button>
  </p>
