<p class="callout">A callout.</p>

<p class="callout--warning">A warning callout.</p>

<div class="callout--calendar-event">
  <span class="next-event">The next public holiday is:</span>
  <p><time datetime="2016-12-25T02:30:00+00:00">Sunday 25 December </time><span class="event-name">Christmas day</span></p>
</div>

<div class="callout--reminder">
  <h3 class="next-event"><strong>Daylight saving starts </strong><time datetime="2016-10-02T02:00">Sunday 2 October 2016 at 2:00am</time></h3>
  <p>Put your clocks forward by one hour</p>
</div>
