<header role="banner">
<section class="controls--contrast">
  <div class="wrapper">
    <section>
      <nav class="breadcrumbs--inverted" aria-label="controls-breadcrumb">
        <ul>
          <li><a href="#" title="Home">Editorial</a></li>
          <li><a href="#" title="Menu1">PMC</a></li>
          <li>Menu2</li>
        </ul>
      </nav>
      <a href="#" role="button">Edit</a>
    </section>
    <section class="right">
      <ul class="inline-links--inverted">
        <li><a href="#">Help</a></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
    </section>
  </div>
</section>
</header>
