<footer role="contentinfo">
  <div class="wrapper">
    <nav>
      <ul>
        <li><h3>Title header</h3></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
      </ul>
      <ul>
        <li><h3>Title header</h3></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
      </ul>
      <ul>
        <li><h3>Title header</h3></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
      </ul>
      <ul>
        <li><h3>Title header</h3></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
        <li><a href="#">This is a footer link</a></li>
      </ul>
    </nav>
    </div>
  </footer>