<section class="govau--header">
  <div class="wrapper">
    <div class="govau--logo">
      <a href="javascript:void(0)" class="logo">gov.au</a> <span class="badge--default">draft</span>
    </div>
    <nav class="global-nav" aria-label="global navigation" tabindex="2">
      <ul>
        <li><a href="javascript:void(0)">About us</a></li>
        <li><a href="javascript:void(0)">Information and services</a></li>
        <li><a href="javascript:void(0)">Ministers</a></li>
        <li><a href="javascript:void(0)">News</a></li>
        <li><a href="javascript:void(0)">Departments & Agencies</a></li>
        <li><a href="javascript:void(0)">Contact us</a></li>
      </ul>
    </nav>
  </div>
</section>
