<header role="banner">
  <section class="hero">
    <div class="wrapper">
      <div class="links-group">
        <h2>Popular links</h2>
        <ul class="popular-now">
          <li><a href="#">Dates and times</a></li>
          <li><a href="#">Tax returns</a></li>
          <li><a href="#">Broadband</a></li>
        </ul>
      </div>
    </div>
  </section>
</header>

<div class="links-group">
  <h3>Related links</h2>
  <ul class="popular-now">
    <li><a href="#">Dates and times</a></li>
    <li><a href="#">Tax returns</a></li>
    <li><a href="#">Broadband</a></li>
  </ul>
</div>
