<nav class="inline-nav">
  <h3>Sort by:</h3>
  <ul>
    <li>
      <a href="#" class="is-active">
        <span class="reader">Sort by </span>Department
      </a>
    </li>
    <li>
      <a href="#">
        <span class="reader">Sort by </span>A&ndash;Z
      </a>
    </li>
    <li>
      <a href="#">
        <span class="reader">Sort by </span>Date
      </a>
    </li>
  </ul>
</nav>
