<ul class="inline-links">
  <li><a href="#">Options</a></li>
  <li><a href="#">Help</a></li>
  <li><a href="#">Sign Out</a></li>
</ul>

<hr>

<div class="bg-navy">
  <ul class="inline-links--inverted">
    <li><a href="#">Options</a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">Sign Out</a></li>
  </ul>
</div>
