<h3>Default inline links</h3>

<ul class="inline-links">
  <li><a href="javascript:void(0)">Options</a></li>
  <li><a href="javascript:void(0)">Help</a></li>
  <li><a href="javascript:void(0)">Sign Out</a></li>
</ul>

<h3><code>inline-links--inverted</code></h3>

<div class="bg-navy">
  <ul class="inline-links--inverted">
    <li><a href="javascript:void(0)">Options</a></li>
    <li><a href="javascript:void(0)">Help</a></li>
    <li><a href="javascript:void(0)">Sign Out</a></li>
  </ul>
</div>
