<ul class="list-horizontal">

  <li class="offset-item">
    <article>
      <header class="offset-title">
        <h4><span>Area Code</span> 02</h4>
      </header>
      <div class="offset-body">
        <h5>Locations</h5>
        <ul>
          <li>New South Wales: Sydney</li>
          <li>Australian Capital Territory: Canberra</li>
        </ul>
      </div>
    </article>
  </li>

  <li class="offset-item">
    <article>
      <header class="offset-title">
        <h4>DTO turns one - our story so far</h4>
      </header>
      <div class="offset-body">
        <p>Earlier this month DTO celebrated its first birthday, and what a journey it has been! Our CEO Paul Shetler looks back and takes us through the highlights and milestones of our first year.</p>
      </div>
    </article>
  </li>

</ul>
