<h3>Vertical style&mdash;default</h3>

<ul class="list-vertical">
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="javascript:void(0)" rel="author">Author</a>
      </div>

      <p>List item text.</p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item&mdash;with image</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="javascript:void(0)" rel="author">Author</a>
      </div>

      <p>List item text.</p>
    </article>
    <figure>
      <img src="kss-assets/img-placeholder.gif" alt="example image"/>
    </figure>
  </li>
</ul>

<h3><code>.vertical-list--thirds</code></h3>

<ul class="list-vertical--thirds">
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
</ul>

<h3><code>.vertical-list--fourths</code></h3>

<ul class="list-vertical--fourths">
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
</ul>

<p><a class="see-more" href="javascript:void(0)">See more</a></p>
