<ul class="non-list list-small">

  <li>
    <a href="#">
      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time>
      </div>
      <span class="pseudo-link">Small list item</span>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time>
      </div>
      <span class="pseudo-link">Small list item</span>
    </a>
  </li>

  <li>
    <a href="#"><span class="pseudo-link">Small list item</span></a>
  </li>

  <li>
    <a href="#"><span class="pseudo-link">Small list item</span></a>
  </li>

  <li>
    <a href="#"><span class="pseudo-link">Small list item</span></a>
  </li>
</ul>
