<h4>Full width&mdash;vertical style</h4>

<ul class="list-vertical">
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="javascript:void(0)" rel="author">Author</a>
      </div>

      <p>List item text.</p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="javascript:void(0)" rel="author">Author</a>
      </div>

      <p>List item text.</p>
    </article>
    <figure>
      <img src="kss-assets/img-placeholder.gif" alt="example image"/>
    </figure>
  </li>
</ul>

<h4>Thirds&mdash;vertical style</h4>

<ul class="list-vertical--thirds">
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
</ul>

<h4>Fourths&mdash;vertical style</h4>

<ul class="list-vertical--fourths">
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="javascript:void(0)">List item</a>
      </h3>
      <p>List item text.</p>
    </article>
  </li>
</ul>
