<ul class="list-horizontal">

  <!-- List item  -->
    <li>
      <article>
        <h3>
          <a href="#">List item</a>
        </h3>

        <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the [&hellip;]</p>

      </article>
    </li>

    <!-- List item with metadata no image -->
    <li>
      <article>
        <h3>
          <a href="#">List item &mdash; with metadata</a>
        </h3>

        <div class="meta">
          <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
        </div>

        <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the [&hellip;]</p>

        <footer class="tags">
          <dl>
            <dt>Topics:</dt>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
          </dl>
        </footer>
      </article>
    </li>

  <!-- Hero list item -->
  <li class="hero-item">
    <figure>
      <img src="/kss-assets/img/img-placeholder.gif" alt="example image"/>
    </figure>
    <article>
      <h3>
        <a href="#">List item &mdash; with hero image</a>
      </h3>
      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the [&hellip;]</p>
    </article>
  </li>

  <!-- List item with an image -->
  <li>
    <figure>
      <img src="/kss-assets/img/img-placeholder.gif" alt="example image" />
    </figure>
    <article>
      <h3>
        <a href="#">List item &mdash; with regular image</a>
      </h3>
      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time>
        <a href="#" rel="author">Author</a>
      </div>
      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the [&hellip;]</p>

      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>



  <li>
    <h4 class="item-title"><span>Area Code</span> 02</h4>
      <ul class="item-body">
        <li>
          <h5>Locations</h5>
            <ul>
              <li>New South Wales: Sydney</li>
              <li>Australian Capital Territory: Canberra</li>
              <li class="note"><strong class="highlighted">Note: some parts of regional New South Wales use the area codes 08 and 03</strong></li>
            </ul>
        </li>
      </ul>
    </li>

    <li>
      <h4 class="item-title"><span>Country prefix</span> 61</h4>
        <div class="item-body">
          <p>Some content here Some content here Some content here Some content here Some content here Some content here</p>
          <p>Some content here Some content here <strong>Some content here</strong> Some content</p>
          <h5 aria-labelledby="international-code">International exit code</h5>
          <p><strong class="highlighted" id="international-code">0011</strong> 64 4 817 9999</p>
          <h5>Country code</h5>
          <p>0011 <strong class="highlighted">64</strong> 4 817 9999</p>
          <h5>Area code (without 0)</h5>
          <p>0011 64 <strong class="highlighted">4</strong> 817 9999</p>
          <h5>Phone number</h5>
          <p>0011 64 4 <strong class="highlighted">817 9999</strong></p>
      </div>

  <!-- List item with no image where there should be one -->
  <li>
    <figure>
    </figure>
    <article>
      <h3>
        <a href="#">List item &mdash; with left padding</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time>
        <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the [&hellip;]</p>

      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>
</ul>

<p><a class="see-more" href="#">See more</a></p>
