<ul class="list-horizontal">
  <!-- List item  -->
    <li>
      <article>
        <h3>
          <a href="javascript:void(0)">List item</a>
        </h3>

        <p>List item text.</p>

      </article>
    </li>

  <!-- Hero list item -->
  <li class="hero-item">
    <figure>
      <img src="kss-assets/img-placeholder.gif" alt="example image"/>
    </figure>
    <article>
      <h3>
        <a href="javascript:void(0)">Hero&mdash;list item</a>
      </h3>
      <p>Hero list text.</p>
    </article>
  </li>

  <!-- List item with an image -->
  <li>
    <figure>
      <img src="kss-assets/img-placeholder.gif" alt="example image" />
    </figure>
    <article>
      <h3>
        <a href="javascript:void(0)">Image&mdash;list item</a>
      </h3>
      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time>
        <a href="javascript:void(0)" rel="author">Author</a>
      </div>
      <p>List item text.</p>

      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
            <dd><a href="javascript:void(0)">Tag Name</a></dd>
            <dd><a href="javascript:void(0)">Tag Name</a></dd>
            <dd><a href="javascript:void(0)">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>

  <!-- List item with no image where there should be one -->
  <li>
    <figure>
    </figure>
    <article>
      <h3>
        <a href="javascript:void(0)">Image&mdash;list item (missing image)</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time>
        <a href="javascript:void(0)" rel="author">Author</a>
      </div>

      <p>List item text.</p>

      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
            <dd><a href="javascript:void(0)">Tag Name</a></dd>
            <dd><a href="javascript:void(0)">Tag Name</a></dd>
            <dd><a href="javascript:void(0)">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>

  <!-- List item with no image -->
  <li>
    <article>
      <h3>
        <a href="#">No image&mdash;list item</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
      </div>

      <p>List item text.</p>

      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
          <dd><a href="javascript:void(0)">Tag Name</a></dd>
          <dd><a href="javascript:void(0)">Tag Name</a></dd>
          <dd><a href="javascript:void(0)">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>

</ul>
