<ul class="list-horizontal-shaded">

  <li>
    <article>
      <h3>
        South Australia (and Broken Hill, NSW)
      </h3>
      <p>Currently in Australian Central Standard Time (ACST) <span>Half an hour behind Tasmania</span></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Victoria
      </h3>
      <p>Currently in Australian Eastern Standard Time (AEST) <span>Same time as Tasmania</span></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Western Australia
      </h3>
      <p>Currently in Australian Western Standard Time (AWST) <span>Two hours behind Tasmania</span></p>
    </article>
  </li>

</ul>

<p><a class="see-more" href="#">See more</a></p>
