<ul class="list-vertical">
  <li>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO)</p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        <a href="#">About The Digital</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015.</p>
    </article>
    <figure>
      <img src="kss-assets/img/img-placeholder.gif" alt="example image"/>
    </figure>
  </li>

  <li>
    <article>
      <h3>
        <a href="#">Digital Transformation Office</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015.</p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015.</p>
    </article>
    <figure>
      <img src="kss-assets/img/img-placeholder.gif" alt="example image"/>
    </figure>
  </li>

  <li>
    <article>
      <h3>
        <a href="#">About The Digital</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015.</p>
    </article>
    <figure>
      <img src="kss-assets/img/img-placeholder.gif" alt="example image"/>
    </figure>
  </li>

  <li>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO)</p>
    </article>
  </li>

</ul>

<ul class="list-vertical--thirds">
  <li>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>
      <p>The Digital Transformation Office (DTO)</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>
      <p>The Digital Transformation Office (DTO)</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>
      <p>The Digital Transformation Office (DTO)</p>
    </article>
  </li>
</ul>

<ul class="list-vertical--fourths">
  <li>
    <article>
      <h3>
        <a href="#">Home</a>
      </h3>
      <p>The Digital Transformation Office (DTO)</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">Latest news</a>
      </h3>
      <p>The Digital Transformation Office (DTO)</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">Get in touch</a>
      </h3>
      <p>The Digital Transformation Office (DTO)</p>
    </article>
  </li>
  <li>
    <article>
      <h3>
        <a href="#">About us</a>
      </h3>
      <p>The Digital Transformation Office (DTO)</p>
    </article>
  </li>
</ul>
