<!-- List with image -->
<ul class="non-list">
  <li>
    <article class="list-horiz">
      <div class="image-box">
        <img src="kss-assets/img-placeholder.gif" alt="example image"/>
      </div>

      <div class="list-horiz--body">
        <h3>
          <a href="#">About The Digital Transformation Office</a>
        </h3>

        <div class="meta">
          <time datetime="2016-05-08 00:00">08 May 2016</time>
          <a href="#" rel="author">Author</a>
        </div>

        <div class="list-horiz--snippet">
          <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the transformation of government services to deliver a better experience for Australians.</p>
        </div>

        <footer class="tags">
          <dl>
            <dt>Topics:</dt>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
          </dl>
        </footer>
      </div>
    </article>
  </li>

<!-- List without image pair -->
  <li>
    <article class="list-horiz">
      <div class="image-box">
          &nbsp;
      </div>

      <div class="list-horiz--body">
        <h3>
          <a href="#">About The Digital Transformation Office</a>
        </h3>

        <div class="meta">
          <time datetime="2016-05-08 00:00">08 May 2016</time>
          <a href="#" rel="author">Author</a>
        </div>

        <div class="list-horiz--snippet">
          <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the transformation of government services to deliver a better experience for Australians.</p>
        </div>

        <footer class="tags">
          <dl>
            <dt>Topics:</dt>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
          </dl>
        </footer>
      </div>
    </article>
  </li>

<!-- Lists without image -->
  <li>
    <article class="list-horiz">
      <div class="list-horiz--body-full">
        <h3>
          <a href="#">About The Digital Transformation Office</a>
        </h3>

        <div class="meta">
          <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
        </div>

        <div class="list-horiz--snippet">
          <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the transformation of government services to deliver a better experience for Australians.</p>
        </div>

        <footer class="tags">
          <dl>
            <dt>Topics:</dt>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
              <dd><a href="#">Tag Name</a></dd>
          </dl>
        </footer>
      </div>
    </article>
  </li>

<!-- Small List -->
  <li>
    <article class="list-horiz">
      <div class="list-horiz--body-full">
        <h3>
          <a href="#">About The Digital Transformation Office</a>
        </h3>

        <div class="list-horiz--snippet">
          <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the transformation of government services to deliver a better experience for Australians.</p>
        </div>
      </div>
    </article>
  </li>
</ul>
