<p>Unsorted list:</p>
<ul>
  <li>unsorted list item</li>
  <li>unsorted list item</li>
</ul>

<p>Sorted list:</p>
<ol>
  <li>first sorted list item</li>
  <li>second sorted list item
    <ol>
      <li>a sub item of second sorted list item</li>
    </ol>
  </li>
  <li>third sorted list item</li>
</ol>

<p>Definition list:</p>
<dl>
  <dt>First definition term</dt>
  <dd>Definition description.</dd>
  <dd>Another definition.</dd>
  <dt>Second definition term</dt>
  <dd>Another definition.</dd>
</dl>
