<ul class="list-recurring">

  <li>
    <a href="#">
    <span>Department of </span>Communications and the Arts
    </a>
  </li>

  <li>
    <a href="#">
      <span>Department of </span>Defence
    </a>
  </li>

  <li>
    <a href="#">
      <span>Department of </span>Education and Training
    </a>
  </li>

  <li>
    <a href="#">
      <span>Department of </span>Employment
    </a>
  </li>

</ul>
