<ul class="list-highlighted">

  <li>
    <a href="javascript:void(0)">List item with<span>same phrase</span></a>
  </li>

  <li>
    <a href="javascript:void(0)">Another list item with the <span>same phrase</span></a>
  </li>

</ul>
