<ul class="list-horizontal">

  <li class="offset-item">
    <article>
      <header class="offset-title">
        <h4><span>Area Code</span> 02</h4>
      </header>
      <div class="offset-body">
        <h5>Locations</h5>
        <ul>
          <li>New South Wales: Sydney</li>
          <li>Australian Capital Territory: Canberra</li>
        </ul>
      </div>
    </article>
  </li>

  <li class="offset-item">
    <article>
      <header class="offset-title">
        <h4><span>Country prefix</span> 61</h4>
      </header>
      <div class="offset-body">
        <p>If you are overseas and want to call an Australian number, or if you wish to give your Australian number to someone who is overseas, you will need to use Australia’s country code.</p>
      </div>
    </article>
  </li>

</ul>
