<ul class="list-horizontal">

  <!-- Hero list item -->
  <li class="hero-item">
    <figure>
      <img src="kss-assets/img/img-placeholder.gif" alt="example image"/>
    </figure>
    <article>
      <h3>
        <a href="#">Hero list item</a>
      </h3>

      <p>Can be paired with horizontal list items for emphasis</p>

    </article>
  </li>

  <!-- List item with an image -->
  <li>
    <figure>
      <img src="kss-assets/img/img-placeholder.gif" alt="example image" />
    </figure>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time>
        <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the transformation of government services to deliver a better experience for Australians.</p>

      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>

  <!-- List item with no image where there should be one -->
  <li>
    <figure>
    </figure>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time>
        <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the transformation of government services to deliver a better experience for Australians.</p>

      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>

  <!-- List item with no image -->
  <li>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>

      <div class="meta">
        <time datetime="2016-05-08 00:00">08 May 2016</time> <a href="#" rel="author">Author</a>
      </div>

      <p>The Digital Transformation Office (DTO) was established as an executive agency in July 2015. Its mission is to lead the transformation of government services to deliver a better experience for Australians.</p>

      <ul>
        <li>In any given month, one in eight Australians aged 14 and over will look up government information and services online, totalling around 324 million transactions a year. Of these people, more than half will experience a problem.</li>
        <li>When people can find the information and services they need online, they have a better service experience, with less impact on their time and lower cost to government.</li>
      </ul>

      <footer class="tags">
        <dl>
          <dt>Topics:</dt>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
            <dd><a href="#">Tag Name</a></dd>
        </dl>
      </footer>
    </article>
  </li>

<!-- List item  -->
  <li>
    <article>
      <h3>
        <a href="#">About The Digital Transformation Office</a>
      </h3>

      <p>The Digital Transformation Office (DTO)</p>

    </article>
  </li>
</ul>
