<h4>Unsorted list</h4>
<ul>
  <li>unsorted list item</li>
  <li>unsorted list item</li>
</ul>

<h4>Sorted list</h4>
<ol>
  <li>first sorted list item</li>
  <li>second sorted list item
    <ol>
      <li>a sub item of second sorted list item</li>
    </ol>
  </li>
  <li>third sorted list item</li>
</ol>

<h4>Definition list</h4>
<dl>
  <dt>First definition term</dt>
  <dd>Definition description.</dd>
  <dd>Another definition.</dd>
  <dt>Second definition term</dt>
  <dd>Another definition.</dd>
</dl>
