<nav class="local-nav" aria-label="main navigation">
  <ul>
    <li><a href="#">Parent link</a></li>
    <li>
      <a href="#">Parent link</a>
      <ul>
        <li><a href="#" class="active">Current page</a></li>
        <li>
          <a href="#">Child link</a>
          <ul>
            <li><a href="#">Grandchild link</a></li>
            <li><a href="#">Grandchild link</a></li>
          </ul>
        </li>
        <li><a href="#">Parent link</a></li>
      </ul>
    </li>
  </ul>
</nav>
