<nav class="local-nav" aria-label="main navigation">

  <h1><a href="#" class="active">Department of Communications and the Arts</a></h1>

  <ul>
    <li>
      <a href="#" class="active">People and structure</a>
      <ul>
        <li><a href="#">Division name</a></li>
        <li>
          <a href="#" class="active">Division name</a>
          <ul>
            <li><a href="#" class="active current">Branch name</a></li>
            <li><a href="#">Branch name</a></li>
          </ul>
        </li>
        <li><a href="#">Division name</a></li>
      </ul>
    </li>
    <li><a href="#">People and structure</a></li>
  </ul>
</nav>
