<nav class="local-nav" aria-label="main navigation">
  <ul>
    <li><a href="javascript:void(0)">Parent link</a></li>
    <li>
      <a href="javascript:void(0)">Parent link</a>
      <ul>
        <li><a href="javascript:void(0)" class="active">Current page</a></li>
        <li>
          <a href="javascript:void(0)">Child link</a>
          <ul>
            <li><a href="javascript:void(0)">Grandchild link</a></li>
            <li><a href="javascript:void(0)">Grandchild link</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)">Parent link</a></li>
      </ul>
    </li>
  </ul>
</nav>
