<nav class="primary-nav" aria-label="main navigation">
  <ul>
    <li><a href="#">Overview</a></li>
    <li><a href="#">Purpose</a></li>
    <li>
      <a href="#">Foundations</a>
      <ul class="sub-nav-list">
        <li><a href="#">Overview</a></li>
        <li><a href="#">Design principles</a></li>
        <li><a href="#">Grid settings</a></li>
        <li>
          <a href="#">Typography</a>
          <ul class="sub-sub-nav-list">
            <li><a href="#">Line height and spacing</a></li>
            <li><a href="#">Typesetting</a></li>
          </ul>
        </li>
        <li><a href="#">Text accessibility</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Lists</a></li>
      </ul>
    </li>
  </ul>
</nav>
