
<nav class="primary-nav" aria-label="main navigation">
  <a id="primary-nav-heading-example"
     href="javascript:void(0)"
     class="js-accordion-trigger nav-heading"
     aria-expanded="false"
     aria-controls="primary-nav-panel-example">
    <span>Show menu</span><i class="chevron bottom"></i>
  </a>
  <ul id="primary-nav-panel-example" aria-labelledby="primary-nav-heading-example">
    <li><a href="#">Parent link</a></li>
    <li>
      <a href="#">Parent link</a>
      <ul>
        <li><a href="#" class="active">Current page</a></li>
        <li>
          <a href="#">Child link</a>
          <ul>
            <li><a href="#">Grandchild link</a></li>
            <li><a href="#">Grandchild link</a></li>
          </ul>
        </li>
        <li><a href="#">Parent link</a></li>
      </ul>
    </li>
  </ul>
</nav>
