<nav class="primary-nav" aria-label="main navigation">
  <a id="primary-nav-heading-example"
    href="javascript:void(0)"
    class="js-accordion-trigger nav-heading"
    aria-expanded="false"
    aria-controls="primary-nav-panel-example">
    <span>Show menu</span><i class="chevron bottom"></i>
  </a>
  <ul id="primary-nav-panel-example" aria-labelledby="primary-nav-heading-example">
    <li><a href="#">Overview</a></li>
    <li><a href="#">Purpose</a></li>
    <li>
      <a href="#">Foundations</a>
      <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Design principles</a></li>
        <li><a href="#">Grid settings</a></li>
        <li>
          <a href="#">Typography</a>
          <ul>
            <li><a href="#">Line height and spacing</a></li>
            <li><a href="#">Typesetting</a></li>
          </ul>
        </li>
        <li><a href="#">Text accessibility</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Lists</a></li>
      </ul>
    </li>
  </ul>
</nav>
