<blockquote>A blockquote</blockquote>

<blockquote>A blockquote</blockquote>

<p>We need to be able to cater for both block quotations, as well as in-line quotations via the <code>q</code> element, because Simon said <q>quotations</q></p>

<p>The <code>q</code> element is unlikely to see a lot of use, unless we play with the editors to be used for authoring and editing things. The other issue with using the <code>content</code> property is that text selection of its contents is not available, so the opening and closing quotation marks are not selectable.</p>

<p>Time for a <code>blockquote</code>, which are distinct from in-line qutoations via the <code>q</code> element.</p>

<blockquote>
  <p>Blockquotes are block-level elements that contain in-line elements.</p>
  <p>This means we can place multiple paragraphs, lists, etc. into a block quotation. We can also use it nest another blockquote, like so:</p>
    <blockquote>
      <p><em>How far the moral sphere extends.</em>&mdash;As soon as we see a new image, we immediately construct it with the aid of all our previous experiences, <em>depending on the degree</em> of our honesty and justice. All experiences are moral experiences, even in the realm of sense perception.</p>
      <footer><cite>1987, Nietzsche (1974). <em>The Gay Science</em> [second edition], &sect; 114. Translated from the German by W. Kaufmann. New York: Vintage Books.</cite></footer>
    </blockquote>
  <p>While inside the block quotation, let us test a few other nested elements:</p>
  <ul>
    <li>first sorted list item</li>
    <li>second sorted list item
      <ol>
        <li>another item</li>
        <li>and again&hellip;</li>
      </ol>
    </li>
    <li>and another item</li>
  </ul>
  <p>The other thing that is worth noting is that we can place the <code>footer</code> element contextually inside other block-level elements; they are not restricted to a single use per page. This allows us to use <code>footer</code> inside a <code>blockquote</code>, and within that we can provide a citation via the <code>cite</code> element.</p>
  <footer><cite><a href="link">Citation source</a></cite></footer>
</blockquote>
