<p>An <q>in-line quote</q> using <code>q</code>.</p>

<blockquote><p>Standard block quote using <code>blockquote</code>.</p></blockquote>

<blockquote class="pullquote"><p>Editorial block quote / pull quote</p></blockquote>

<blockquote>
  <p>A blockquote containing:</p>
  <p>A paragraph.</p>
  <p>Another paragraph.</p>
  <ul>
    <li>Unsorted list item</li>
    <li>Another unsorted list item</li>
    <li>
      <ol>
        <li>Ordered list item</li>
        <li>Another ordered list item</li>
      </ol>
    </li>
  </ul>
</blockquote>

<blockquote>
  <p>A block quote containing ...</p>
    <blockquote><p>another block quote ...</p>
      <footer><cite>with a citation</cite></footer>
    </blockquote>
</blockquote>
