<p>An <q>in-line quote</q> using <code>q</code>.</p>

<blockquote>Pull quote using <code>blockquote</code>.</blockquote>

<blockquote>
  <p>A blockquote containing:</p>
  <p>A paragraph.</p>
  <p>Another paragraph.</p>
  <ul>
    <li>Unsorted list item</li>
    <li>Another unsorted list item</li>
      <ol>
        <li>Ordered list item</li>
        <li>Another ordered list item</li>
      </ol>
    </li>
  </ul>
</blockquote>

<blockquote>A <code>blockquote</code> containing...

    <blockquote>another <code>blockquote</code>...
  <footer><cite>with a citation</cite></footer></blockquote>
</blockquote>
