<p>
  <a href="javascript:;">Click to move focus to this</a> then press <kbd>Tab</kbd> to show:
  <ul>
    <li>Skip to main content</li>
    <li>Skip to section navigation</li>
  </ul>
</p>
<div class="skip-to">
  <a href="#content">Skip to main content</a>
  <a href="#nav">Skip to section navigation</a>
</div>
