<p>
  Skip links are hidden until they receive focus<br/>
  <a href="javascript:;">Click here to move focus to this element then push tab</a>
</p>
<div class="skip-to">
  <a href="#content">Skip to main content</a>
  <a href="#nav">Skip to section navigation</a>
</div>
