<h3>Simple table</h3>
  <table class="content-table">
      <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Venue</th>
      </tr>
      <tr>
        <td>12 February</td>
        <td>Waltz with Strauss</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>24 March</td>
        <td>The Obelisks</td>
        <td>West Wing</td>
      </tr>
      <tr>
        <td>14 April</td>
        <td>The What</td>
        <td>Main Hall</td>
      </tr>
  </table>
<h3>Table with a caption</h3>
  <table class="content-table">
    <caption>Shelly's daughters</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Birthday</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Jackie</th>
      <td>5</td>
      <td>5 April</td>
    </tr>
    <tr>
      <th scope="row">Beth</th>
      <td>8</td>
      <td>14 October</td>
    </tr>
    <tr>
      <th scope="row">Jiaying</th>
      <td>6</td>
      <td>23 March</td>
    </tr>
    <tr>
      <th scope="row">Sarah</th>
      <td>14</td>
      <td>14 January</td>
    </tr>
    </tbody>
  </table>
