

<table class="calendar-table">
  <caption>Interesting stuff, 1932</caption>
  <tr>
    <th scope="row"><time datetime="1932-11-02">Wednesday <span>2</span> November</time></th>
    <td><a href="https://en.wikipedia.org/wiki/Emu_War#First_attempt" rel="external">Emu War commences</a></td>
  </tr>
  <tr>
    <th scope="row"><time datetime="1932-11-13">Sunday <span>13</span> November</time></th>
    <td>Emu War <span class="date-info">Second attack</span></td>
  </tr>
  <tr>
    <th scope="row"><time datetime="1932-11-15">Tuesday <span>15</span> November</time></th>
    <td>Final sortie</td>
  </tr>
</table>
