

<table class="calendar-table">
  <caption>Interesting stuff, 1518</caption>
  <tr>
    <th scope="row"><time datetime="1518-07-15">Monday <span>15</span> July</time></th>
    <td><a href="https://en.wikipedia.org/wiki/Dancing_Plague_of_1518" rel="external">DDR Dance Mania, Strasbourg edition</a></td>
  </tr>
  <tr>
    <th scope="row"><time datetime="1518-07-01">Tuesday <span>16</span> July</time></th>
    <td>Dance Mania afterparty <span class="date-info">dance till you drop!</span></td>
  </tr>
  <tr>
    <th scope="row"><time datetime="1518-07-30">Tuesday <span>30</span> July</time></th>
    <td>Dead people cleanup day</td>
  </tr>
</table>
