/*
Accordions

Accordions help users find only the content they need.

The **expand/collapse all** feature will be provided soon &mdash; this will be mandatory if using a series of accordion elements.

***

This guidance is in part adapted from <a href="https://standards.usa.gov/getting-started/" rel="external">18F Draft US Web Design Standards</a> under <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" rel="external">CC0 1.0 Universal</a>.

Markup: templates/accordion.hbs

Style guide: Accordions
*/

/*
Usability

When designing or writing accordions:

- Don't use an accordion if the user needs to see all of the information. Structure and rewrite your content instead.
- Use a succinct but descriptive accordion headings / labels.
- Use [definition or description lists](section-typography.html#guide-typography-5-lists) for glossaries instead of accordions.

When implementing accordions:

- Accordions can be set to open or closed initially using `aria-expanded` property set to `true` or `false`.
- JavaScript behaviour is used to replace the browser default for `<details>`.
- For multiple accordion elements each `details` element must have its own `data-label` attribute.
- This framework allows a text/string search of accordion content, even when collapsed (string itself remains hidden until opened).

<details data-label="accordions-accessibility" aria-expanded="false">
  <summary>Accessibility &amp; browser testing</summary>
  <div class="accordion-panel">
  <strong>Passed</strong>:
    <ul>
      <li>HTML5 validation (<a href="http://validator.github.io/validator/" rel="external">Nu Html Checker</a>)</li>
      <li>WCAG:AA automated (<a href="http://squizlabs.github.io/HTML_CodeSniffer/Standards/WCAG2/" rel="external">HTML_CodeSniffer</a>)</li>
    </ul>
  <strong>Untested</strong>:
    <ul>
      <li>WCAG:AA manual</li>
      <li>Browser support &mdash; automated and manual</li>
    </ul>
  </div>
</details>

Style guide: Accordions.1 Usability
*/

// New CSS Experiment
details,
.accordion {
  display: block;
  margin: $base-spacing 0 0;
  overflow: hidden;

  & + details,
  & + .accordion {
    margin-top: -1px;
  }
}

.accordion-button,
summary {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: $small-spacing;
  border-top-right-radius: $tiny-border-radius;
  border-top-left-radius: $tiny-border-radius;
  text-align: left;
  font-weight: $bold-font-weight;
  cursor: pointer;
  transition: background-color $transition-timing-fast $transition-easing;

  background: $background-secondary-colour;
  color: $non-black;
  border-bottom: 1px solid $light-grey;
  border-top: 1px solid $light-grey;
  font-size: rem(20);

  // Remove vanilla summary styles.
  &::-webkit-details-marker {
    display: none;
  }

  &::before {
    @extend %icon-chevron-down--navy;

    content: '';
    position: absolute;
    top: .5em;
    bottom: .5em;
    right: $small-spacing;
    width: $medium-spacing;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    transform: rotate(0deg);
    transition: transform $transition-timing $transition-easing;

    [aria-expanded='true'] & {
      transform: rotate(180deg);
    }
  }

  &:focus {
    outline: none;
  }

}

.accordion-panel {
  display: block;
  position: relative;
  top: 0;
  height: auto;
  overflow: hidden;
  padding: $base-spacing $base-spacing $small-spacing;
  transition: padding $transition-timing $transition-easing, border $transition-timing $transition-easing, position $transition-timing $transition-easing;
  border-bottom-right-radius: $tiny-border-radius;
  border-bottom-left-radius: $tiny-border-radius;

  [aria-expanded='false'] & {
    z-index: -1;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    top: $small-spacing * -2;
  }

  :first-child {
    margin-top: 0;
  }

}

// ACCORDION VARIATIONS

@mixin accordion-styles ($summary-bg, $summary-colour, $summary-hover-bg, $summary-hover-colour, $summary-border, $panel-border, $panel-border-top) {

  summary {
    background-color: $summary-bg;
    color: $summary-colour;
    border-bottom: #{$summary-border};
    border-top: #{$summary-border};

    &:hover {
      background-color: $summary-hover-bg;
      color: $summary-hover-colour;
    }
  }

  .accordion-panel {
    border: #{$panel-border};
    border-top: $panel-border-top;
  }
}



details {

  &.accordion-forms {
    summary {
      font-size: $small-font-size;
    }
    margin-top: $small-spacing;
    @include accordion-styles($lighter-aqua, $darker-aqua, $light-aqua, $darker-aqua, none, 'solid #{$small-spacing} #{$lighter-aqua}', none);
  }
}
