details,
.accordion {
  display: block;
  margin: $base-spacing 0;

  &.open,
  &[open] {
    .accordion-panel {
      display: block;
    }

    .accordion-button,
    summary {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  .accordion-panel {
    display: none;
    border: solid $small-spacing $lighter-aqua;
    border-top: none;
    padding: $small-spacing;
  }

  .accordion-button,
  summary {
    cursor: pointer;
    display: block;
    padding: $small-spacing;
    border-bottom: none; //normalize from links
    font-weight: $bold-font-weight;

    &::-webkit-details-marker { //remove vanila summary styles
      display: none;
    }

    //========== mostly copied from .local-nav-toggle with colour changes
    position: relative;
    width: 100%;
    margin: $base-spacing 0 0;
    text-align: left;

    &,
    &:hover {
      background-color: $lighter-aqua;
      color: $darker-aqua;
    }

    &::before {
      @extend .chevron-down-navy;
      content: '';
      position: absolute;
      top: .5em;
      bottom: .5em;
      right: $small-spacing;
      width: $medium-spacing;
      background-repeat: no-repeat;
      background-position: center center; //added this not in .local-nav-toggle
      background-size: 100% auto;
      transform: rotate(0deg);
      transition: transform $transition-timing $transition-easing;
    }
    //==================
  }
}
