// Describe me so no evil shall be committed in wielding this class!
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  @include outer-container;

  @include media($desktop) {
    @include pad(0 default);
  }
}

header {
  &[role='banner'] {
    @include outer-container(100%);
    min-width: 100%;
    flex: none;
  }
}

footer {
  &[role='contentinfo'] {
    @include outer-container(100%);
    min-width: 100%;
    flex: none;
    @include pad(0 default);
    margin-top: ($base-spacing * 2);

  }
}

main {
  @include outer-container;
  @include media($tablet) {
    @include pad($base-spacing default 0 default);
  }

  flex: 1;
  padding-top: $base-spacing;

  .content-main {
    @include span-columns(9 of 16);
    @include shift(1);

    @include media($desktop) {
      @include span-columns(8 of 12);
      @include shift(1);
    }

    @include media($tablet) {
      @include span-columns(6 of 8);
    }

    @include media($mobile) {
      @include span-columns(4 of 4);
      @include shift(0);
    }

  }

  .form-wrapper {
    @include span-columns(4 of 6);

    @include media($mobile) {
      @include span-columns(4 of 4);
    }
  }
}

.sidebar {
  @include span-columns(3 of 16);

  @include media($desktop) {
    @include span-columns(3 of 12);
  }

  @include media($tablet) {
    @include span-columns(6 of 8);
    @include shift(1);
  }

  @include media($mobile) {
    @include span-columns(4 of 4);
    @include shift(0);
  }
}

figure {
  margin: 0;
}
