// Describe me so no evil shall be committed in wielding this class!
.wrapper {
  @include outer-container;

  @include media($desktop) {
    @include pad(0 default);
  }
}

header {
  &[role='banner'] {
    @include outer-container(100%);
  }
}

footer {
  &[role='contentinfo'] {
    @include outer-container(100%);
    @include pad(0 default);
    margin-top: ($base-spacing * 2);
  }
}

main {
  @include outer-container;

  @include media($tablet) {
    @include pad($base-spacing default 0 default);
  }

  padding-top: $base-spacing;

  // IE 8 "clearfix" from https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
  // HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/
  // scss-lint:disable PseudoElement
  &,
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

  > article {//hotfix for articles not working in the content area
    @include span-columns(7 of 12);
    @include media($tablet) {
      @include span-columns(6 of 8);
    }

    @include media($mobile) {
      @include span-columns(4 of 4);
      @include shift(0);
    }
  }

  .form-wrapper {
    @include span-columns(4 of 6);

    @include media($mobile) {
      @include span-columns(4 of 4);
    }
  }
}

.sidebar {
  @include span-columns(3 of 12);

  @include media($tablet) {
    @include span-columns(6 of 8);
    @include shift(1);
  }

  @include media($mobile) {
    @include span-columns(4 of 4);
    @include shift(0);
  }
}
