// Describe me so no evil shall be committed in wielding this class!
.wrapper {
  @include outer-container;
  @include media($tablet) {
    padding-left: $small-spacing;
    padding-right: $small-spacing;
  }
}

header {
  @include outer-container(100%);

  &[role='banner'] {
    @include outer-container(100%);

    background-color: $non-black;
    color: $white;
  }
}

footer {

  &[role='contentinfo'] {
    @include outer-container(100%);

    margin-top: ($base-spacing * 2);
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    background-color: $non-black;
    color: $white;
  }
}

main {
  @include outer-container();

  article {
    @include span-columns(7 of 12);
    @include media($tablet) {
      @include span-columns(6 of 8);
      @include shift(1);
    }

    @include media($mobile) {
      @include span-columns(4 of 4);
      @include shift(0);

      padding-left: $small-spacing;
      padding-right: $small-spacing;
    }
  }

  .form-wrapper {

    @include span-columns(4 of 6);

    @include media($mobile) {
      @include span-columns(4 of 4);
    }

  }

}

// IE 8 "clearfix" from https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
// HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/
// scss-lint:disable PseudoElement
main:before,
main:after {
  content: ' ';
  display: table;
}

main:after {
  clear: both;
}

.sidebar {
  @include span-columns(3 of 12);

  @include media($tablet) {
    @include span-columns(6 of 8);
    @include shift(1);
  }

  @include media($mobile) {
    @include span-columns(4 of 4);
    @include shift(0);

    padding-left: $small-spacing;
    padding-right: $small-spacing;
  }
}
