// Describe me so no evil shall be committed in wielding this class!
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  @include outer-container;
  @include pad(0 $base-spacing);

  @include media($desktop) {
    @include pad(0);
  }
}

header {
  &[role='banner'] {
    @include outer-container(100%);
    min-width: 100%;
    flex: none;
  }
}

footer {
  &[role='contentinfo'] {
    @include outer-container(100%);
    min-width: 100%;
    flex: none;
    @include pad(0 default);
    margin-top: ($base-spacing * 2);

  }
}

main {
  width: 100%;
  @include outer-container;
  @include pad(0 $base-spacing);

  // makes flex work in IE10/11 https://thatemil.com/blog/2013/11/03/sticky-footers-flexbox-and-ie10/
  flex: 1 0 auto;

  @include media($tablet) {
    @include pad(($base-spacing * 2) 0 0 0);
  }

  .content-main {
    @include span-columns(4 of 4);

    @include media($tablet) {
      @include span-columns(8 of 12);
    }

    @include media($desktop) {
      @include span-columns(9 of 16);
      @include shift(1);
    }

    &:first-child {
      @include media($tablet) {
        @include span-columns(10 of 12);
        @include shift(1);
      }

      @include media($desktop) {
        @include span-columns(12 of 16);
        @include shift(2);
      }
    }

  }

  .form-wrapper {
    @include span-columns(4 of 4);

    @include media($tablet) {
      @include span-columns(4 of 6);
    }
  }
}

.sidebar {
  @include span-columns(4 of 4);

  @include media($tablet) {
    @include span-columns(3 of 12);
  }

  @include media($desktop) {
    @include span-columns(3 of 16);
  }
}

figure {
  margin: 0;
}
