/*
Colours

The basic palette of colours available in the gov-au-ui-kit framework.

These colours are not finalised and may change.

The framework uses semantic names, including lighter and darker versions that are percentage variations of the original colours. The Sass variables are also provided below, for reference.

They are not web-safe colours. Let us know if they need to be.

If you need more guidance [contact us](index.html#contributing). <!-- fix anchor link once readme is approved -->

Markup: templates/colours.hbs

Style guide: Colours
*/

/*
Colour contrast

To make your content accessible the colour contrast ratio for text and interactive elements should be at least 4.5:1 as [recommended by the W3C](http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html).

### Fully accessible combinations
(example to come)

Style guide: Colours.1 Colour contrast
*/

/*
Attribution

Style guide: Colours.2 Attribution
*/

/*
Last updated

17 June 2016 <!-- can we automate this please -->

### Sections to include

- ~~Explanation of the thing~~
- Have a visual or live example / Show its code snippet: a basic HTML swatch palette to come <!-- link to Sydney sketch files -->
- ~~Have a feedback mechanism~~
- ~~Include accessbility notes (if required)~~
- ~~Include "last updated" blurb~~

### Good keywords/headings
~~colour contrast, sass variables, palatte~~

Style guide: Colours.3 Last updated
*/

// Colour constants

$black:         #000;
$non-black:     #222;
$grey:          #828282;
$dark-grey:     darken($grey, 25%);
$light-grey:    lighten($grey, 30%);
$lighter-grey:  lighten($grey, 45%);
$non-white:     #f0f3f5;
$white:         #fff;

$aqua:          #1b8197;
$dark-aqua:     darken($aqua, 5%);
$darker-aqua:   darken($aqua, 10%);
$light-aqua:    lighten($aqua, 30%);

$navy:          #224a61;
$dark-navy:     darken($navy, 10%);
$light-navy:    lighten($navy, 30%);

$red:           #c00;

$light-green:   #e6efc2;
$green:         darken($light-green, 55%);

$orange:        #fbb03b;

$maroon:        #880e48;
$dark-maroon:   darken($maroon, 5%);
$darker-maroon: darken($maroon, 10%);

// Colour variables

$background-colour:             $white;
$background-contrast-colour:    $lighter-grey;

$link-colour:                   $non-black;

$button-colour:                 $aqua;
$button-colour--hover:          $darker-aqua;
$button-colour--active:         $dark-aqua;
$button-colour--disabled:       $light-grey;

$button-contrast-colour:         $maroon;
$button-contrast-colour--hover:  $darker-maroon;
$button-contrast-colour--active: $dark-maroon;

$button-inverted-colour:        $white;

$button-text-colour:            $white;
$button-inverted-text-colour:   $navy;

$frame-colour:                  $light-grey;
$primary-colour:                $light-navy;
$highlight-colour:              $light-aqua;
$error-colour:                  $red;
$success-colour:                $light-green;

$border-colour:                 $light-grey;
$border-secondary-colour:       $lighter-grey;
$border-contrast-colour:        $navy;

$body-text-colour:              $black;
$body-secondary-text-colour:    $dark-grey;

$badge-colour-default:          $grey;
$badge-colour-alpha:            $non-black;
$badge-colour-beta:             $maroon;
$badge-colour-error:            $error-colour;
$badge-colour-success:          $green;
