
// Colours
//
// The basic palette of colours available in the framework.
//
// Style guide: Foundation.Colours

$black:         #000;
$non-black:     #232d35;
$grey:          #828282;
$dark-grey:     darken($grey, 25%);
$light-grey:    lighten($grey, 30%);
$lighter-grey:  lighten($grey, 60%);
$non-white:     #f0f3f5;
$white:         #fff;

$aqua:          #02bfe7;
$dark-aqua:      darken($aqua, 25%);
$light-aqua:    lighten($aqua, 30%);

$navy:          #225187;
$dark-navy:     darken($navy, 25%);
$light-navy:    lighten($navy, 30%);

$background-colour:           $white;
$contrast-background-colour:  $lighter-grey;
$link-colour:                 $black;
$button-colour:               $dark-aqua;
$button-hover-colour:         $dark-navy;
$frame-colour:                $light-grey;
$primary-colour:              $light-navy;
$highlight-colour:            $aqua;
