// Colours
//
// The basic palette of colours available in the gov-au-ui-kit framework.
//
// These colours are not finalised and may change.
//
// The framework uses semantic names, including lighter and darker versions that are percentage variations of the original colours. The Sass variables are also provided below, for reference.
//
// They are not web-safe colours. Let us know if they need to be.
//
// <div class="guide-colour-examples">
//   <div class="guide-colour">
//     <div class="swatch bg-black"></div>
//     <p class="text"> <strong>Black</strong><br/>
//       #000000 </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-non-black"></div>
//     <p class="text"> <strong>Non-black</strong><br/>
//       #222222 </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-grey"></div>
//     <p class="text"> <strong>Grey</strong><br/>
//       #828282 </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-dark-grey"></div>
//     <p class="text"> <strong>Dark Grey</strong><br/>
//       ??? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-light-grey"></div>
//     <p class="text"> <strong>Light Grey</strong><br/>
//       ?? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-lighter-grey"></div>
//     <p class="text"> <strong>Clighter Grey</strong><br/>
//       ?? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-non-white"></div>
//     <p class="text"> <strong>Non-white</strong><br/>
//       ?? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-white"></div>
//     <p class="text"> <strong>White</strong><br/>
//       ?? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-aqua"></div>
//     <p class="text"> <strong>Aqua</strong><br/>
//       ?? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-dark-aqua"></div>
//     <p class="text"> <strong>Dark Aqua</strong><br/>
//       ?? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-darker-aqua"></div>
//     <p class="text"> <strong>darker-aqua</strong><br/>
//       ?? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-light-aqua"></div>
//     <p class="text"> <strong>light-aqua</strong><br/>
//       ?? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-navy"></div>
//     <p class="text"> <strong>navy</strong><br/>
//       #224a61 </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-dark-navy"></div>
//     <p class="text"> <strong>Dark Navy</strong><br/>
//       ?? </p>
//   </div>
//   <div class="guide-colour">
//     <div class="swatch bg-light-navy"></div>
//     <p class="text"> <strong>Light Navy</strong><br/>
//       #cc0000 </p>
//   </div>
// </div>
//
// If you need more guidance [contact us](index.html#contributing). <!-- fix anchor link once readme is approved -->
//
// Markup: templates/colours.hbs
//
// Style guide: Colours

// Colour contrast
//
// To make your content accessible the colour contrast ratio for text and interactive elements should be at least 4.5:1 as [recommended by the W3C](http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html).
//
// ### Recommended accessible combinations
// <p class="guide-colour-block bg-black">$black with white</p>
// <p class="guide-colour-block bg-non-black">$non-black</p>
// <p class="guide-colour-block bg-dark-grey">$dark-grey</p>
// <p class="guide-colour-block bg-grey">$grey</p>
// <p class="guide-colour-block bg-light-grey">$light-grey</p>
// <p class="guide-colour-block bg-lighter-grey">$lighter-grey</p>
// <p class="guide-colour-block bg-non-white">$non-white</p>
// <p class="guide-colour-block bg-white">$white</p>
// <p class="guide-colour-block bg-darker-aqua">$darker-aqua</p>
// <p class="guide-colour-block bg-dark-aqua">$dark-aqua</p>
// <p class="guide-colour-block bg-aqua">$aqua</p>
// <p class="guide-colour-block bg-light-aqua">$light-aqua</p>
// <p class="guide-colour-block bg-dark-navy">$dark-navy</p>
// <p class="guide-colour-block bg-navy">$navy</p>
// <p class="guide-colour-block bg-light-navy">$light-navy</p>
// <p class="guide-colour-block bg-red">$red</p>
//
// Style guide: Colours.1 Colour contrast

These colours are not finalised and may change.

The framework uses semantic names, including lighter and darker versions that are percentage variations of the original colours. The Sass variables are also provided below, for reference.

They are not web-safe colours. Let us know if they need to be.

If you need more guidance [contact us](index.html#contributing). <!-- fix anchor link once readme is approved -->

Markup: templates/colours.hbs

Style guide: Colours
*/

/*
Colour contrast

To make your content accessible the colour contrast ratio for text and interactive elements should be at least 4.5:1 as [recommended by the W3C](http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html).

### Fully accessible combinations
(example to come)

Style guide: Colours.1 Colour contrast
*/

/*
Attribution

Style guide: Colours.2 Attribution
*/

/*
Last updated

17 June 2016 <!-- can we automate this please -->

### Sections to include

- ~~Explanation of the thing~~
- Have a visual or live example / Show its code snippet: a basic HTML swatch palette to come <!-- link to Sydney sketch files -->
- ~~Have a feedback mechanism~~
- ~~Include accessbility notes (if required)~~
- ~~Include "last updated" blurb~~

### Good keywords/headings
~~colour contrast, sass variables, palatte~~

Style guide: Colours.3 Last updated
*/

// Colour constants

$black:         #000;
$non-black:     #222;
$grey:          #828282;
$dark-grey:     darken($grey, 25%);
$light-grey:    lighten($grey, 30%);
$lighter-grey:  lighten($grey, 45%);
$non-white:     #f0f3f5;
$white:         #fff;

$aqua:          #1b8197;
$dark-aqua:     darken($aqua, 5%);
$darker-aqua:   darken($aqua, 10%);
$light-aqua:    lighten($aqua, 30%);

$navy:          #224a61;
$dark-navy:     darken($navy, 10%);
$light-navy:    lighten($navy, 30%);

$red:           #c00;

$light-green:   #e6efc2;
$green:         darken($light-green, 55%);

$orange:        #fbb03b;

$maroon:        #880e48;
$dark-maroon:   darken($maroon, 5%);
$darker-maroon: darken($maroon, 10%);

// Colour variables

$background-colour:             $white;
$background-contrast-colour:    $lighter-grey;

$link-colour:                   $non-black;

$button-colour:                 $aqua;
$button-colour--hover:          $darker-aqua;
$button-colour--active:         $dark-aqua;
$button-colour--disabled:       $light-grey;

$button-contrast-colour:         $maroon;
$button-contrast-colour--hover:  $darker-maroon;
$button-contrast-colour--active: $dark-maroon;

$button-inverted-colour:        $white;

$button-text-colour:            $white;
$button-inverted-text-colour:   $navy;

$frame-colour:                  $light-grey;
$primary-colour:                $light-navy;
$highlight-colour:              $light-aqua;
$error-colour:                  $red;
$success-colour:                $light-green;

$border-colour:                 $light-grey;
$border-secondary-colour:       $lighter-grey;
$border-contrast-colour:        $navy;

$body-text-colour:              $black;
$body-secondary-text-colour:    $dark-grey;

$badge-colour-default:          $grey;
$badge-colour-alpha:            $non-black;
$badge-colour-beta:             $maroon;
$badge-colour-error:            $error-colour;
$badge-colour-success:          $green;


// Colour background classes

.bg-black {
  background-color: $black;
  color: $white;
}

.bg-non-black {
  background-color: $non-black;
  color: $lighter-grey;
}

.bg-grey {
  background-color: $grey;
  color: $white;
}

.bg-dark-grey {
  background-color: $dark-grey;
  color: $lighter-grey;
}

.bg-light-grey {
  background-color: $light-grey;
  color: $non-black;
}

.bg-lighter-grey {
  background-color: $lighter-grey;
  color: $non-black;
}

.bg-non-white {
  background-color: $non-white;
}

.bg-white {
  background-color: $white;
}

.bg-aqua {
  background-color: $aqua;
  color: $non-white;
}

.bg-dark-aqua {
  background-color: $dark-aqua;
  color: $non-white;
}

.bg-darker-aqua {
  background-color: $darker-aqua;
  color: $non-white;
}

.bg-light-aqua {
  background-color: $light-aqua;
  color: $non-white;
}

.bg-navy {
  background-color: $navy;
  color: $non-white;
}

.bg-dark-navy {
  background-color: $dark-navy;
  color: $non-white;
}

.bg-light-navy {
  background-color: $light-navy;
  color: $non-white;
}

.bg-red {
  background-color: $red;
  color: $white;
}


//Moved to KSS styles?
.guide-colour-examples {
  @include outer-container;
}

.guide-colour-block {
  padding: 0.5em;  //Should be a var like $medium-spacing but _colours.scss doesn't inherit this var yet
}

.guide-colour {
  @include span-columns(3);
  @include omega(4n);
  margin-bottom: 1.9356%;  //Should be a var from grid margin goodness
  border: solid 1px $light-grey;

  .swatch {
    padding: 50% 0;
    border-bottom: solid 1px $light-grey;
  }

  .text {
    padding: 0.5em; //Should be a var like $medium-spacing but _colours.scss doesn't inherit this var yet
    margin: 0;
  }
}
