/*
Forms

Keep forms as simple as possible&mdash;only ask what is needed for the transaction.

Ask only 1 question per page.

<hr />

This guidance is in part adapted from [GOV.UK elements](http://govuk-elements.herokuapp.com/) under [Open Government Licence v3.0](https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/).

Style guide: Forms
*/

/*
Form controls

Style guide: Forms.0 Form controls
*/

/*
Text input

A single line text input. By default users can enter any combination of letters, numbers or symbols.

Markup:
<form>
  <p>
    <label>A text input field:</label>
    <input type="text" />
  </p>
  <p>
    <label>An invalid field:</label>
    <input type="text" class="invalid" />
  </p>
  <p>
    <label>A disabled field:</label>
    <input type="text" disabled />
  </p>
</form>

Style guide: Forms.0 Form controls.1 Text input
*/

/*
Text area input

A multi-line text input using `<textarea>`. The user can resise the field vertically.

Markup:
  <form>
    <label>Long response</label>
    <textarea></textarea>
  </form>

Style guide: Forms.0 Form controls.2 text area input
*/

/*
Optional & mandatory fields

Only ask for the information you absolutely need. Don't mark mandatory fields with asterisks.

If you have to ask for optional information, mark the field labels with '(optional)'.

Style guide: Forms.1 Optional & mandatory fields
*/

/*
Labels

All forms fields should have labels. Don't hide labels, unless the surrounding context makes them unnecessary.

Tell the user what they need to enter into the field. Label text should be short and direct. Avoid colons at the end of labels.

Align labels above their fields. They should be associated with form fields using the `for` attribute.

Markup:
<form>
  <label class="form-label" for="full-name">Full name</label>
  <input class="form-control" id="full-name" type="text" />
</form>

Style guide: Forms.2 Labels
*/

/*
Hint text

Use hint text to give the user contextual help about how to provide the information.

The hint text should be above the form field and always visible.

Make sure screen readers can read hint text correctly (use the correct ARIA tags).

Markup:
<form>
  <label for="name">Full name</label>
  <span class="hint" id="name-hint">Your name is on your birth certificate.</span>
  <input type="text" id="name" aria-describedby="name-hint" />
</form>

Style guide: Forms.3 HintText
*/

%base-text-input {
  width: 100%;
  outline-offset: 0;
  border: 2px solid $border-colour;
  border-radius: 0;
  background-color: $background-colour;
  padding: $tiny-spacing;

  &:invalid,
  &.invalid {
    outline: 2px solid $error-colour;
  }

  &:focus {
    outline: 2px solid $focus-colour;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

}

form {

  fieldset,
  p {
    margin: 0 0 $medium-spacing 0;
    padding: 0;
    border: none;
  }

  label {
    display: block;
  }

  .hint {
    display: block;
    color: $body-secondary-text-colour;
    font-size: rem(14);
  }

  [type='text'],
  [type='email'],
  [type='password'] {
    @extend %base-text-input;
  }

  textarea {
    @extend %base-text-input;
    resize: vertical;
  }

}
