
// Grid Settings
//
// A set of variables to define the maximum width, column count and gutter.
// For examples see http://neat.bourbon.io/examples/
//
// Style guide: Foundation.Grid

$border-box-sizing: true;
$disable-warnings: true;

$grid-columns: 12 !global;
$max-width: em(1200) !global;
$gutter: em(20);

// Toggle visibility of your grid columns for development/debugging.
$visual-grid: true;

 // Media Queries
@import 'vendor/neat/neat-helpers';
$desktop: new-breakpoint(max-width 1000px 12);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 420px 4);
