/*
Navigation

Ensure users understand where they are in the service, where they have been and where they can go.

Use the HTML `<nav>` element and ARIA tags to define clear and accessible navigation links for the page.

<hr />

This guidance is in part adapted from [18F Draft US Web Design Standards](https://standards.usa.gov/getting-started/) under [CC0 1.0 Universal](https://creativecommons.org/publicdomain/zero/1.0/legalcode).

Style guide: Navigation
*/

/*
Primary navigation

The framework provides a vertical navigation menu that shows 3 levels of items.

Ensure the side menu is accessible with a keyboard&mdash;users should be able to tab through every link. Use ARIA tags so screen readers can understand the menu.

Use active state (`class="active"`) to show which page the user is on.

Use short navigation links. They don't have to be the full page title.

Test with users to ensure the navigation hierarchy is not too long or too deep.

Markup: templates/primary-navigation.hbs

Style guide: Navigation.1 Primary Navigation
*/

/*
Breadcrumbs

Use breadcrumbs to help the user understand where are in the service and how they got there.

Markup: templates/breadcrumbs.hbs

Style guide: Navigation.2 Breadcrumbs
*/

.primary-nav {
  .nav-heading {
    color: $darker-aqua;
    background: $lighter-grey;
    margin-top: $base-spacing;

    .chevron {
      float: right;
    }
  }

  ul {
    margin: $base-spacing 0;
    padding: 0;
    list-style: none;

    ul {
      margin: 0;

      li {
        &:last-child {
          border-bottom: none;
        }
      }

      a {
        border-left: 1px solid transparent;
        padding-left: $base-spacing;

        &:hover {
          border-left: 1px solid $border-contrast-colour;
        }
      }

      ul {
        a {
          @extend .icon-arrow-right;
          padding-left: $base-spacing + $small-spacing;
          background-repeat: no-repeat;
          background-position: $base-spacing $small-spacing * 1.15;
          background-size: $tiny-spacing auto;
        }
      }
    }

  }

  li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $border-secondary-colour;

    &:first-child {
      border-top: 1px solid $border-secondary-colour;
    }
  }

  a {
    display: block;
    border: none;
    border-left: 2px solid transparent;
    padding: $tiny-spacing $small-spacing;
    background-color: $background-colour;
    text-decoration: none;
    color: $non-black;

    &:hover,
    &:active,
    &.active,
    &.is-active {
      border-color: $border-contrast-colour;
      background-color: $background-contrast-colour;
    }

  }
}

.js {
  .primary-nav {
    ul {
      margin: 0;
      display: none;
      @include media($tablet) {
        margin: inherit;
        display: block;
      }
    }
  }

  .nav-heading {
    @include media($tablet) {
      display: none;
    }
  }
}

.breadcrumbs {
  @include outer-container(100%);
  display: none;
  min-width: 100%;
  flex: none;
  margin-top: 0;
  background-color: $non-white;
  color: $grey;

  @include media($tablet) {
    display: block;
  }

  ul {
    margin: 0;
    padding: $small-spacing 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    li:not(:last-child) {
      @extend .icon-arrow-right;
      margin-right: $small-spacing;
      padding-right: $medium-spacing;
      background-repeat: no-repeat;
      background-position: right;
      background-size: $tiny-spacing auto;
      color: $grey;
    }

  }
}

/*
Skip Links

See. <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-skip.html">WCAG 2.4.1 Bypass Blocks</a>

When this Success Criterion is not satisfied, it may be difficult for people with some disabilities to reach the main content of a Web page quickly and easily.

Markup: templates/skip-link.hbs

Style guide: Navigation.3 Skip Links
*/
.skip-to {
  position: relative;
  z-index: 99;

  a {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    background-color: $white;

    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: absolute;
      width: auto;
      top: 10px;
      left: 10px;
      padding: $tiny-spacing $small-spacing;
    }
  }
}
