/*
Primary navigation

A vertical navigation menu that fits three levels of items.

Markup: templates/primary-navigation.hbs

Style guide: Components.Navigation.Primary Navigation
*/

.primary-nav {
  // scss-lint:disable SelectorDepth, NestingDepth
  .nav-heading {
    color: $darker-aqua;
    background: $lighter-grey;
    margin-top: $base-spacing;
    display: none;

    .chevron {
      float: right;
    }
  }

  ul {
    margin: $base-spacing 0;
    padding: 0;
    list-style: none;

    ul {
      margin: 0;

      li {
        &:last-child {
          border-bottom: none;
        }
      }

      a {
        border-left: 1px solid transparent;
        padding-left: $base-spacing;

        &:hover {
          border-left: 1px solid $border-contrast-colour;
        }
      }

      ul {
        a {
          padding-left: $base-spacing + $small-spacing;
          background-image: url($icon-arrow-r);
          background-repeat: no-repeat;
          background-position: $base-spacing $small-spacing * 1.15;
          background-size: $tiny-spacing auto;
        }
      }
    }

  }

  li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $border-secondary-colour;

    &:first-child {
      border-top: 1px solid $border-secondary-colour;
    }
  }

  a {
    display: block;
    border: none;
    border-left: 2px solid transparent;
    padding: $tiny-spacing $small-spacing;
    background-color: $background-colour;
    text-decoration: none;
    color: $non-black;

    &:hover,
    &:active,
    &.active {
      border-color: $border-contrast-colour;
      background-color: $background-contrast-colour;
    }

  }
}

.js {
  .primary-nav {
    ul {
      @include media($tablet) {
        margin: 0;
        display: none;
      }
    }
  }

  .nav-heading {
    @include media($tablet) {
      display: block;
    }
  }
}

/*
Breadcrumbs

A inline listing of pages that are broader than this one

Markup: templates/breadcrumbs.hbs

Style guide: Components.Navigation.Breadcrumbs
*/
.breadcrumbs {
  @include outer-container(100%);

  margin-top: 0;
  background-color: $lighter-grey;
  color: $grey;

  @include media($tablet) {
    display: none;
  }

  ul {
    margin: 0;
    padding: $small-spacing 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    li:not(:last-child) {
      margin-right: $small-spacing;
      padding-right: $medium-spacing;
      background-image: url($icon-arrow-r);
      background-repeat: no-repeat;
      background-position: right;
      background-size: $tiny-spacing auto;
      color: $grey;
    }

  }
}
