// Primary navigation
//
// A vertical navigation menu that fits three levels of items.
//
// Markup: templates/navigation.hbs
//
// Style guide: Components.Navigation
.primary-nav {
  // scss-lint:disable SelectorDepth, NestingDepth
  .nav-heading {
    color: $darker-aqua;
    background: $lighter-grey;
    margin-top: $base-spacing;
    display: none;
    @include media($tablet) {
      display: block;
    }
    .chevron {
      float: right;
    }
  }

  ul {
    margin: $base-spacing 0;
    @include media($tablet) {
      margin: 0;
    }
    padding: 0;
    list-style: none;
    @include media($tablet) {
      display: none;
    }
    ul {
      margin: 0;

      li:last-child {
        border-bottom: none;
      }

      a {
        border-left: 1px solid transparent;
        padding-left: $base-spacing;

        &:hover {
          border-left: 1px solid $contrast-border-colour;
        }
      }

      ul {
        a {
          padding-left: $base-spacing + $small-spacing;
          background-image: url($icon-arrow-r);
          background-repeat: no-repeat;
          background-position: $base-spacing $small-spacing * 1.15;
          background-size: $tiny-spacing auto;
        }
      }
    }

  }

  li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $secondary-border-colour;

    &:first-child {
      border-top: 1px solid $secondary-border-colour;
    }
  }

  a {
    display: block;
    border: none;
    border-left: 2px solid transparent;
    padding: $tiny-spacing $small-spacing;
    background-color: $background-colour;
    text-decoration: none;
    color: $non-black;

    &:hover,
    &:active,
    &.active {
      border-color: $contrast-border-colour;
      background-color: $contrast-background-colour;
    }

  }
}
