/*
Navigation

Ensure users understand where they are in the service, where they have been and where they can go.

Use the HTML `<nav>` element and ARIA tags to define clear and accessible navigation links for the page.

<hr />

This guidance is in part adapted from [18F Draft US Web Design Standards](https://standards.usa.gov/getting-started/) under [CC0 1.0 Universal](https://creativecommons.org/publicdomain/zero/1.0/legalcode).

Style guide: Navigation
*/

/*
Global navigation

Provides the highest level of navigation in the framework.

### Behaviour

The Global Navigation panel is collapsed (hidden) by default on all screen sizes. Users that have JavaScript enabled in modern browsers (down to IE 9) will see a collapsed panel and a toggle for hiding and showing the menu.

Users without JavaScript or on IE8 or older will see an expanded navigation panel and no toggle.

Markup: templates/global-navigation.hbs

Style guide: Navigation.1 Global Navigation
*/
.global-nav-toggle {
  position: relative;
  float: right;
  height: auto;
  margin: $tiny-spacing 0;
  border-bottom: 1px solid;
  padding: 0;

  &::before {
    @extend .bars;
    content: '';
    position: absolute;
    top: .25em;
    bottom: .25em;
    left: ($base-spacing * -1);
    width: $medium-spacing;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  &[aria-expanded='true'] {
    &::before {
      @extend .close;
    }
  }

  &,
  &:hover {
    background-color: transparent;
  }
}

.global-nav {
  clear: both;
  padding: $tiny-spacing 0 $small-spacing;
  overflow: hidden;
  transition: padding ($transition-timing * 2) ease;

  &[aria-expanded='false'] {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: $base-spacing 0;
    padding: 0;

    @include media($tablet) {
      @include outer-container;
      margin-top: $base-spacing;
    }
  }

  li {
    margin: 0;
    border-bottom: 1px solid $border-soft-colour;

    &:first-child {
      border-top: 1px solid $border-soft-colour;
    }

    @include media($tablet) {
      @include span-columns(6 of 12);
      @include omega(2n);

      &:nth-child(2) {
        border-top: 1px solid $border-soft-colour;
      }
    }

    @include media($desktop) {
      @include span-columns(8 of 16);
    }

    a {
      display: block;
      border-bottom: 0;
      padding: $small-spacing 0 1em;
      color: $body-inverted-text-colour;
    }
  }

  .feedback {
    display: block;

    @include media($tablet) {
      display: none;
    }
  }
}

/*
Local navigation

The framework provides a vertical navigation menu that shows 3 levels of items.

Ensure the side menu is accessible with a keyboard&mdash;users should be able to tab through every link. Use ARIA tags so screen readers can understand the menu.

Use active state (`class="active"`) to show which page the user is on.

Use short navigation links. They don't have to be the full page title.

Test with users to ensure the navigation hierarchy is not too long or too deep.

### Behaviour

The Local Navigation panel is collapsed (hidden) by default on small screens (up to the `$tablet`). Users that have JavaScript enabled in modern browsers (down to IE 9) will see a collapsed panel and a toggle for hiding and showing the menu.

Users without JavaScript or on IE8 or older will see an expanded navigation panel and no toggle.

Markup: templates/local-navigation.hbs

Style guide: Navigation.2 Local Navigation
*/

.local-nav-toggle {
  position: relative;
  width: 100%;
  margin: $base-spacing 0 0;
  text-align: left;
  font-weight: $base-font-weight;

  &,
  &:hover {
    background-color: $background-secondary-colour;
    color: $darker-aqua;
  }

  &::before {
    @extend .chevron-down-navy;
    content: '';
    position: absolute;
    top: .5em;
    bottom: .5em;
    right: $small-spacing;
    width: $medium-spacing;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(0deg);
    transition: transform $transition-timing $transition-easing;
  }

  &[aria-expanded='true'] {
    &::before {
      transform: rotate(180deg);
    }
  }

  @include media($tablet) {
    display: none;
  }
}

.local-nav {
  padding-top: 0;
  @include media($tablet) {
    padding: $base-spacing 0;
  }
}

.primary-nav,
.local-nav {
  margin: 0 0 $base-spacing;
  overflow: hidden;
  transition: padding ($transition-timing * 2) ease;

  &[aria-expanded='false'] {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;

    @include media($tablet) {
      height: auto;
      padding: $base-spacing 0;
    }
  }

  h1 {
    font-size: 1em;
    font-weight: $base-font-weight;
    text-transform: uppercase;
    margin: 0;
    line-height: $base-leading;
  }


  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    ul {
      margin: 0;

      li {
        &:last-child {
          border-bottom: none;
        }
      }

      a {
        padding-left: $base-spacing;
      }

      ul {
        a {
          @extend .icon-arrow-right;
          padding-left: $base-spacing + $small-spacing;
          background-repeat: no-repeat;
          background-position: $base-spacing $small-spacing * 1.45;
          background-size: $tiny-spacing auto;
        }
      }
    }

  }

  li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $border-colour;

    &:first-child {
      border-top: 1px solid $border-colour;
    }
  }

  a {
    display: block;
    border: none;
    border-left: 4px solid transparent;
    padding: $medium-spacing / 2 $small-spacing;
    background-color: $background-colour;
    text-decoration: none;
    color: $non-black;

    &:hover {
      border-color: $border-contrast-colour;
      background-color: $focus-colour;
    }

    &.active,
    &.is-active {
      font-weight: $bold-font-weight;
    }

    &.current {
      background-color: $focus-colour;
    }

  }
}



// This class is legacy as of v1.2
// Marked for removal at 2.0
.primary-nav {
  padding: $base-spacing 0;

  .nav-heading {
    color: $darker-aqua;
    background: $background-secondary-colour;
    margin: $base-spacing 0;

    .chevron {
      float: right;
    }
  }
}

// This class is legacy as of v1.2
// Marked for removal at 2.0
.js {
  .primary-nav {
    ul {
      margin: 0;
      display: none;
      @include media($tablet) {
        margin: inherit;
        display: block;
      }
    }
  }

  .nav-heading {
    display: block;
    background-color: $dark-aqua;
    color: $white;
    padding: $medium-spacing / 2 $small-spacing;

    &:hover {
      border-color: $dark-aqua;
      background-color: $dark-aqua;
    }

    @include media($tablet) {
      display: none;
    }
  }
}


/*
Breadcrumbs

Use breadcrumbs to help the user understand where they are in the service and how they got there.

Default breadcrumbs appear on a light grey background, and are positioned directly underneath a page header or hero.

Breadcrumbs are hidden on small screens, and only displayed at `$tablet` breakpoint or bigger.

The inverted style (`.breadcrumbs--inverted`) can be used on a darker coloured background. Make sure you check the [colour contrast guidance](http://gov-au-ui-kit.dev/section-colours.html#kssref-colours-3-colour-contrast) before choosing a colour combination.

Markup: templates/breadcrumbs.hbs

Style guide: Navigation.3 Breadcrumbs
*/

[class^='breadcrumbs'] {
  display: none;
  width: 100%;
  margin: 0;
  background-color: $breadcrumbs-bg-colour;
  color: $body-text-colour;

  @include media($tablet) {
    display: inline-block;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $body-text-colour;
  }

  ul {
    margin: 0;
    padding: $small-spacing 0 .8 * $medium-spacing;
    line-height: $medium-spacing;
    list-style: none;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        @extend .icon-arrow-right;
        margin-right: $small-spacing;
        padding-right: $medium-spacing;
        background-repeat: no-repeat;
        background-position: right;
        background-size: $tiny-spacing auto;
      }
    }
  }

  &[class$='--inverted'] {
    background-color: transparent;
    color: $body-inverted-text-colour;

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $body-inverted-text-colour;
    }

    ul {
      li:not(:last-child) {
        @extend .icon-arrow-right-white;
        color: $body-inverted-text-colour;
      }
    }
  }
}

/*
Skip Links

See. <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-skip.html">WCAG 2.4.1 Bypass Blocks</a>

When this Success Criterion is not satisfied, it may be difficult for people with some disabilities to reach the main content of a Web page quickly and easily.

Markup: templates/skip-link.hbs

Style guide: Navigation.4 Skip Links
*/
.skip-to {
  position: relative;
  z-index: 99;

  a {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    background-color: $white;

    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: absolute;
      width: auto;
      top: 10px;
      left: 10px;
      padding: $tiny-spacing $small-spacing;
    }
  }
}


/*
Index links

Used to group a collection of text links, Index links can appear at the beginning of an article page as a table of contents, or as a group of links to related content.

An optional heading is included in the markup example. Any level leading from `h2` to `h6` can be used. Use a heading level that's appropriate for your document outline.

### Behaviour

Because these are internal links they trigger a smooth scroll down the page.

This works in Firefox, Chrome, IE10, Opera and Safari. Unsupported browsers would just use the normal internal link behaviour.

Markup: templates/index-links.hbs

Style guide: Navigation.5 Index links
*/

.index-links {
  margin: ($base-spacing * 2) 0 $base-spacing $small-spacing;
  border-left: $tiny-spacing solid $non-white;
  padding: 0 0 $medium-spacing ($base-spacing - $tiny-spacing);

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: rem(17);
    margin-top: $base-spacing;
    color: $grey;
    font-weight: $base-font-weight;
  }

  ul {
    list-style-type: none;
    margin: $base-spacing 0 0;
    padding: 0;
  }

  li {
    margin-bottom: $medium-spacing;
    font-weight: $bold-font-weight;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


/*
Inline Links

For when you'd like a list of links to appear on a single line, use `ul.inline-links`.

When placing these links on a dark background, use `.inline-links--inverted.` Make sure you check the [colour contrast guidance](http://gov-au-ui-kit.dev/section-colours.html#kssref-colours-3-colour-contrast) before choosing a colour combination.

Markup: templates/inline-links.hbs

Style guide: Navigation.6 Inline Links
*/
[class^='inline-links'] {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: $small-spacing 0;

  li {
    display: inline-block;
    margin: 0 $tiny-spacing;
  }

  &[class$='--inverted'] {
    a {
      color: $body-inverted-text-colour;
    }
  }
}
