header[role='banner'] {

  // If we move general anchor styling in _typography to sit under either article or main, we can avoid this reset.

  /*.controls {

    padding: $medium-spacing 0;
    text-align: right;
    background-color: $dark-navy;
    color: $white;

    a {
      color: $white;
    }
  }*/

  .govau--header {
    padding: $medium-spacing 0;
    background-color: $navy;
    color: $white;

    .govau--logo {
      padding-bottom: $medium-spacing;

      @include media($tablet) {
        float: left;
        padding-bottom: 0;
      }
    }

    .logo {
      @extend h3;

      padding-bottom: 2px;
      border-bottom: none;
      color: $white;
      font-family: $base-sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;

      &:hover,
      &:focus {
        border-bottom: 1px;
      }
    }

    [class^='badge'] {
      vertical-align: text-bottom;
      margin-left: $tiny-spacing;
    }

    .feedback {
      display: block;
      @include media($tablet) {
        float: right;
      }
    }

    .button--feedback {
      @extend button;
      @extend .inverted;

      margin: 0;

    }
  }

  .hero {
    padding: ($base-spacing * 2) 0;
    background-color: $aqua;
    color: $white;

    .site-title {
      @extend h1;

      margin: $tiny-spacing 0;
      color: $white;
    }

    .tagline {
      @extend h4;
      font-weight: $base-font-weight;
    }

    code,
    a {
      color: $white;
    }
  }
}


.admin {
  //Applied to body in order to compensate for the .admin-bar fixed element on desktop
  padding-top: 0;
  @include media($tablet) {

    padding-top: 4em;
  }
}

.controls {
  background-color: $maroon;
  color: $white;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 98;
  padding: $small-spacing 0;
  box-shadow: 0 5px 10px 0 $non-black;

  @include media($tablet) {
    position: fixed;
  }

  a {
    color: $white;

    &:hover,
    &:focus {
      border-bottom: none;
    }
  }

  .controls--nav,
  .controls--actions {
    padding: 0;
    margin: 0;
    list-style: none;
    @include clearfix;

    li {
      float: left;
      margin: 0.4em 0 0 0;
    }

    .button--item {
      margin-top: 0;
      float: right;
    }

  }

  .controls--nav {
    float: none;
    @include media($tablet) {
      float: left;
    }

    li {
      margin-right: $tiny-spacing;
    }
  }

  .controls--actions {
    float: none;
    @include media($tablet) {
      float: right;
    }

    li {
      margin-left: $tiny-spacing;
    }
  }

  .badge--default {
    float: left;

    background-color: $white;
    color: $maroon;
    text-transform: uppercase;
    font-weight: bold;

    margin-right: $tiny-spacing;
    margin-top: 0.5em;
  }

  .button--edit {
    @extend button;
    @extend .inverted;

    margin: 0;

    &:hover,
    &:focus {
      color: $maroon;
    }
  }

}
