[class^='controls'] {
  padding: $tiny-spacing 0;
  background-color: $dark-navy;
  color: $body-inverted-text-colour;

  section {

    @include span-columns(4 of 4);

    @include media($tablet) {
      @include span-columns(6 of 12);
    }

    @include media($desktop) {
      @include span-columns(8 of 16);
    }

    &:first-child:last-child {
      @include span-columns(4 of 4);

      @include media($tablet) {
        @include span-columns(12 of 12);
      }

      @include media($desktop) {
        @include span-columns(16 of 16);
      }
    }

    &.right {
      text-align: right;
    }
  }

  [role='button'] {
    @extend .inverted;

    margin: 0;
  }

  &[class$='--contrast'] {
    background-color: $dark-maroon;

    [role='button']:hover,
    [role='button']:focus {
      color: $maroon;
    }
  }
}

header[role='banner'] {

  .govau--header {
    padding: $medium-spacing 0;
    background-color: $navy;
    color: $white;

    .govau--logo {
      padding-bottom: $medium-spacing;

      @include media($tablet) {
        float: left;
        padding-bottom: 0;
      }
    }

    .logo {
      @extend h3;

      padding-bottom: 2px;
      border-bottom: none;
      color: $white;
      font-family: $base-sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;

      &:hover,
      &:focus {
        border-bottom: 1px;
      }
    }

    [class^='badge'] {
      vertical-align: text-bottom;
      margin-left: $tiny-spacing;
    }

    .feedback {
      display: block;
      @include media($tablet) {
        float: right;
      }
    }

    .button--feedback {
      @extend button;
      @extend .inverted;

      margin: 0;

    }
  }

  .hero {
    padding: ($base-spacing * 2) 0;
    background-color: $aqua;
    color: $white;

    .site-title {
      @extend h1;

      margin: $tiny-spacing 0;
      color: $white;
    }

    .tagline {
      @extend h4;
      font-weight: $base-font-weight;
    }

    code,
    a {
      color: $white;
    }
  }
}
