footer[role='contentinfo'] {
  @include pad($base-spacing 0);

  background-color: $non-black;
  color: $white;

  a {
    color: $white;
  }

  .footer-logo {
    @include span-columns(3 of 12);

    @include media($mobile) {
      @include span-columns(8 of 8);
    }

    img {
      height: $base-spacing * 4;
    }
  }

  .footer-links {
    @include span-columns(9 of 12);

    @include media($mobile) {
      @include span-columns(8 of 8);
    }

    a {
      display: inline-block;
    }
  }

  nav {
    @include media($tablet) {
      @include span-columns(6 of 8);
      // @include shift(2);
    }

    @include media($mobile) {
      @include span-columns(4 of 4);
      @include shift(0);

      padding-left: $small-spacing;
      padding-right: $small-spacing;
    }

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;

    ul {
      flex-basis: 25%;
      flex-shrink: 0;
    }

    li {
      line-height: 1.5em;
      list-style: none;
    }

  }

}
