/*
Content tables

Tabular content arranged in rows and columns with column headings.
An alternating row colour is provided to improve readability.

Markup:
  <table class="content-table">
      <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Venue</th>
      </tr>
      <tr>
        <td>12 February</td>
        <td>Waltz with Strauss</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>24 March</td>
        <td>The Obelisks</td>
        <td>West Wing</td>
      </tr>
      <tr>
        <td>14 April</td>
        <td>The What</td>
        <td>Main Hall</td>
      </tr>
  </table>

Style guide: Tables.1 Basic Tables
*/

/*
Complex Tables

Markup:
  <table class="content-table">
    <caption>Shelly's Daughters</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Birthday</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Jackie</th>
      <td>5</td>
      <td>April 5</td>
    </tr>
    <tr>
      <th scope="row">Beth</th>
      <td>8</td>
      <td>January 14</td>
    </tr>
    <tr>
      <th scope="row">Beth</th>
      <td>8</td>
      <td>January 14</td>
    </tr>
    </tbody>
  </table>

Style guide: Tables.3 Complex Tables
*/

/*
Accessibility

The HTML for tables needs to be carefully considered for accessibility.
* Consider using the [`scope` attribute](https://www.w3.org/TR/html401/struct/tables.html#adef-scope) to associate the header to a row or column
* Consider using a [`<caption>` element](https://www.w3.org/wiki/HTML/Elements/caption) to title the table
* Avoid complex tables with multiple levels of headers and spanned cells

[Further guidance on tables at w3.org](https://www.w3.org/WAI/tutorials/tables/)

### Table head, body, and foot
The [`<thead>`, `<tbody>`, and `<tfoot>` elements](https://www.w3.org/TR/html401/struct/tables.html#h-11.2.3) provide no accessibility functionality but depending on browser support `<thead>` and `<tfoot>` may be repeated across pages when long tables are printed.

Style guide: Tables.2 Accessibility
*/


.content-table {
  border-collapse: collapse;
  width: 100%;

  tr:nth-child(even) {
    background-color: $non-white;
  }

  td,
  th {
    border-bottom: solid 1px $light-grey;
    padding: $tiny-spacing;
    font-size: $small-font-size;
    text-align: left;

    @include media($tablet) {
      padding: $small-spacing;
      font-size: initial;
    }
  }

  thead {
    border-bottom: solid 2px $grey;
  }
}
