/*
Typography

Basic content styling with good typographic defaults.

The framework aims to meet common government typographic needs:

- clear and consistent headings and labels
- legible body paragraphs
- easy-to-use input fields.

It is designed to provide:

- the highest standards of usability and accessibility
- a consistent visual voice of credibility and warmth
- ease-of-use across Australian Government digital platforms.

The following guidance may change to apply only to content inside an `article`.

Style guide: Typography
*/

/*
Typeface

We are currently testing the open source [Open Sans font family](https://www.google.com/fonts/specimen/Open+Sans) in 3 styles:

<div class="guide-example--type"><h3>Open Sans regular 400</h3>
  <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
  abcdefghijklmnopqrstuvwxyz<br />
  1234567890(!@#s%g.,?:;)</p>
</div>
<div class="guide-example--type"><h3>Open Sans regular 400 italic</h3>
  <p><em>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
  abcdefghijklmnopqrstuvwxyz<br />
  1234567890(!@#s%g.,?:;)</em></p>
</div>
<div class="guide-example--type"><h3>Open Sans bold 700</h3>
  <p><strong class="very-bold">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
  abcdefghijklmnopqrstuvwxyz<br />
  1234567890(!@#s%g.,?:;)</strong></p>
</div>

The framework is likely to change to a different primary typeface. We are currently testing the use of webfonts generally.

We aim to spend a spike in the future to properly test and optimise any usage of webfonts.

Style guide: Typography.1 Typeface
*/

/*
Font stacks

```
$base-serif: 'Book Antiqua', Georgia, 'Bitstream Vera Serif', serif;
$base-sans-serif: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif;
$base-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
```

We have not decided on using a webfont but the font stacks should still achieve a high degree of coverage across a range of browsers and operating systems using the fall-backs (roughly 95% coverage).

Currently you will need to load webfonts through the [Google Web Font Loader](https://github.com/typekit/webfontloader) via `<script>` to provide Open Sans via the HTML `head` to support both modern browsers, and Internet Explorer.

Style guide: Typography.1 Typeface.1 Font stacks
*/

$base-serif: 'Book Antiqua', Georgia, 'Bitstream Vera Serif', serif;
$base-sans-serif: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif;
$base-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;

$base-font-family: $base-sans-serif;

/*
Spacing

Spacing is relative to the `line-height` (leading) of the font size.

```
$base-leading: 1.6;
$base-heading-leading: 1.4;

html {
  color: $body-text-colour;
  line-height: $base-leading;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}
```

The values are anchored to the `base-leading` (which is unit-less) and act as a multiplier of the font size. The `$base-spacing` unit is then set in ems (ie by * 1em).

```
$base-spacing: $base-leading * 1em;
$medium-spacing: $base-spacing * 0.75;
$small-spacing: $base-spacing / 2;
```

We are likely to change the `$base-spacing` unit to give a figure easier to multiply and divide.

Style guide: Typography.3 Spacing
*/

// Leading/line-height.
$base-leading: 1.6;
$base-heading-leading: 1.4;
$small-leading: 1.2;
$double-leading: 2;

// Base spacing, relative to leading.
$base-spacing: $base-leading * 1em;
$medium-spacing: $base-spacing * 0.75;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $base-spacing / 4;

// Font weights
$base-font-weight: 400;
$bold-font-weight: 700;
$heading-font-weight: $bold-font-weight;

// Font sizes
$smaller-font-size: 62.5%;
$small-font-size: 87.5%;
$large-font-size: 150%;

// Font styles
$base-font-style: normal;

html {
  color: $body-text-colour;
  line-height: $base-leading;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

/*
Headings & body copy

The type sizes are designed for legibility and readability. We are currently testing this.

They are initially based on a perfect fourth modular scale.

### Breakpoints

- Mobile (extra small devices): 8 columns, 420px maximum
- Tablet (small devices): 12 columns, 768px maximum
- Desktop (medium devices): 16 columns, 1200px maximum

### Font size & line heights default settings

Use relative units to allow for variety across users' browsers and device screens.

 This table shows font size and line height (size/line-height) in pixels and ems.

<table class="content-table">
  <tr>
    <th>Style</th>
    <th>Mobile</th>
    <th>Tablet</th>
    <th>Desktop</th>
  </tr>
  <tr>
    <td>h1</td>
    <td>32px</td>
    <td>44px<br></td>
    <td>40px</td>
  </tr>
  <tr>
    <td>h2</td>
    <td>28px</td>
    <td>32px</td>
    <td>32px</td>
  </tr>
  <tr>
    <td>h3</td>
    <td>24px</td>
    <td>26px</td>
    <td>26px</td>
  </tr>
  <tr>
    <td>h4</td>
    <td>19px</td>
    <td>22px</td>
    <td>22px</td>
  </tr>
  <tr>
    <td>h5</td>
    <td>16px</td>
    <td>16px</td>
    <td>16px</td>
  </tr>
  <tr>
    <td>h6</td>
    <td>16px</td>
    <td>16px</td>
    <td>16px</td>
  </tr>
  <tr>
    <td>p</td>
    <td>16px</td>
    <td>16px</td>
    <td>16px</td>
  </tr>
</table>

### Base size examples

Markup: templates/heading-body-styles.hbs

Style guide: Typography.2 Headings & body copy
*/

// Styling for headings
//
// Note that we don't style h5 and h6.

h1,
h2,
h3,
h4 {
  line-height: $base-heading-leading;
  font-weight: $base-font-weight;
  margin-bottom: $tiny-spacing;
  margin-top: $base-spacing;
}

h1 {
  // This needs to be changed to live in the 'header', where the breadcrumbs currently are (grey bar).
  font-size: rem(24);
  //line-height: $small-leading;

  @include media($tablet) {
    font-size: rem(26);
  }

  @include media($desktop) {
    font-size: rem(32);
  }

  &:first-of-type {
    margin-top: $tiny-spacing;
  }
}

h2 {
  font-size: rem(32);
  line-height: $small-leading;
  margin-top: $base-spacing;

  @include media($tablet) {
    font-size: rem(44);
  }
}

h3 {
  font-size: rem(24);
  font-weight: $heading-font-weight;

  @include media($tablet) {
    font-size: rem(26);
  }
}

h4 {
  font-size: rem(18);
  font-weight: $heading-font-weight;
}


// Document this later.
.gov-speak {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: $base-heading-leading;
    font-weight: $heading-font-weight;
    margin-bottom: $tiny-spacing;
    margin-top: $base-spacing;
  }

  h1 {
    font-size: rem(32);
    line-height: $small-leading;

    @include media($tablet) {
      font-size: rem(44);
    }

    @include media($desktop) {
      font-size: rem(40);
    }

    &:first-of-type {
      margin-top: $tiny-spacing;
    }
  }

  h2 {
    font-size: rem(28);
    line-height: $small-leading;

    @include media($tablet) {
      font-size: rem(32);
    }
  }

  h3 {
    font-size: rem(24);
    font-weight: $heading-font-weight;

    @include media($tablet) {
      font-size: rem(26);
    }
  }

  h4 {
    font-size: rem(19);
    font-weight: $heading-font-weight;

    @include media($tablet) {
      font-size: rem(22);
    }
  }

  h5 {
    font-size: rem(17);
    font-weight: $heading-font-weight;
  }

  h6 {
    font-size: rem(17);
    font-weight: $heading-font-weight;
  }
}

a {
  color: $link-colour;
  text-decoration: none;
  border-bottom: 1px solid;

  &:visited {
    color: $link-colour;
  }

  &:hover,
  &:active {
    color: $link-hover-colour;
  }

}

code,
pre,
samp,
kbd {
  font-family: $base-monospace;
  font-size: $small-font-size;
}

/*
Keyboard input

Use when asking users to enter keyboard combinations, eg a shortcut to print the screen and copy it to clipboard.

Further [W3C specification documentation](http://dev.w3.org/html5/spec/Overview.html#the-kbd-element).

Markup: Abort! Abort! <kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Delete</kbd>

Style guide: Typography.10 Keyboard keys
*/

kbd {
  display: inline-block;
  border: solid 1px $light-aqua;
  border-radius: $base-border-radius;
  box-shadow: 0 1px 0 0 $light-aqua;
  background-color: $non-white;
  color: $dark-aqua;
  text-align: center;
  font-size: $small-font-size;
  padding: 0 $small-spacing;
  margin: 0 $tiny-spacing;
}

strong {
  font-weight: $bold-font-weight;

  &.very-bold {
    font-weight: $heading-font-weight;
  }
}

// For display font sizing.
.display {
  @extend h2;
}

// More specialised typography.
//
// For abstracts or page introductory paragraphs.
.abstract {
  font-size: rem(24);
  font-weight: $base-font-weight;
  border-bottom: 1px solid $border-colour;
  padding-bottom: $medium-spacing;
}

hr {
  border-color: $border-colour;
  border-style: solid;
  border-bottom: none;
}

/*
Horizontal & vertical rhythm

Combinations of these elements have been tested to maintain vertical rhythm between content.

Style guide: Typography.4 Horizontal & vertical rhythm
*/

/*
Lists

List styles have been developed for:

- unordered lists (bullet point lists)
- ordered lists (numbered)
- definition lists (terms and definitions).

Markup: templates/list-examples.hbs

Style guide: Typography.5 Lists
*/

ul,
ol {
  padding-left: ($base-spacing + $small-spacing);

  ul {
    list-style-type: disc;
  }
}

ul,
ol,
dl,
p,
dt,
dd {
  font-size: rem(17);
  margin-top: 0; // Check up on where margin-top is coming from...
  margin-bottom: $medium-spacing;
  line-height: $base-spacing;
}

li {
  margin-bottom: ($small-spacing / 1.5);
  margin-left: -($small-spacing / 4);
  padding-left: ($small-spacing / 4);

  ul,
  ol {
    margin-top: $tiny-spacing;
    margin-bottom: 0;
  }
}

dt {
  display: inline-block;
  font-weight: $bold-font-weight;
  margin-top: $tiny-spacing;

  &:first-of-type {
    margin-top: 0;
  }
}

/*
Callouts & warnings

**Callouts** and **warning callouts** can be used to draw the user's attention to a specific piece of content.

Markup: templates/callouts-examples.hbs

Style guide: Typography.6 Callouts & warnings
*/

.callout {
  margin: $base-spacing $small-spacing;
  padding: $medium-spacing $medium-spacing $medium-spacing $base-spacing;
  border-radius: $tiny-border-radius;
  box-shadow: 0 0 8px $light-grey;
}

.callout--warning {
  @extend .callout;

  border-left: $tiny-spacing solid $red;
  padding-left: $base-spacing - $tiny-spacing;
}


/*
Badges

The framework provides styling for `badges` to indicate status.

Markup: templates/badges.hbs

Style guide: Typography.7 Badges
*/

$badges: (
  'default':  $badge-colour-default,
  'alpha':    $badge-colour-alpha,
  'beta':     $badge-colour-beta,
  'error':    $badge-colour-error,
  'success':  $badge-colour-success,
);

@each $badge-type, $colour in $badges {
  .badge--#{$badge-type} {
    display: inline-block;
    background-color: $colour;
    border-radius: $large-border-radius;
    padding: $tiny-spacing $small-spacing;
    line-height: 1;
    letter-spacing: 1px;
    color: lighten($colour, 75%);
    font-size: rem(14);
  }
}

/*
Quotations

The framework provides 2 ways of using quotes:

- **in-line quoting** using `q` element (adds quotation marks to either side of the in-line quotation)
- **block quotes** via `blockquote`:
 - standard block quote
 - editorial block quote (pull quote) with larger size text.

`blockquote` is a block-level element that can contain in-line elements. So they can nest:

- multiple paragraphs, lists, etc
- another `blockquote`
- the `footer` element to provide citations using `<cite>`.

Markup: templates/quotation-examples.hbs

Style guide: Typography.8 Quotations
*/

blockquote {
  margin: $medium-spacing 0;
  padding: $small-spacing ($base-spacing + ($small-spacing * 0.75));
  background-color: $background-secondary-colour;
  font-family: $base-serif;
  quotes: '\201C''\201D''\2018''\2019';

  &.pullquote {
    padding: 0;
    background-color: $background-colour;

    p {
      @extend h3;

      line-height: $base-leading;
      text-align: center;
      font-weight: $base-font-weight;
    }

    // Support: IE7 does not properly support pseudo elements `:before`/`:after`: http://caniuse.com/#feat=css-sel2

    &::before,
    &::after {
      text-align: center;
      margin: 0;
    }
  }

  &::before,
  &::after {
    display: block;
    height: 0;
    font-family: $base-serif;
    font-size: rem(43);
    color: $aqua;
  }

  &::before {
    margin-left: -($small-spacing * 0.75);
    padding-bottom: $tiny-spacing;
    content: open-quote;
  }

  &::after {
    margin-right: -($small-spacing * 0.75);
    margin-top: -($small-spacing);
    padding-bottom: $medium-spacing;
    text-align: right;
    content: close-quote;
  }

  footer {
    margin-top: $medium-spacing;
    padding-top: $tiny-spacing;
    border-top: 1px solid $light-grey;
  }

  cite {
    display: inline-block;
    font-family: $base-sans-serif;

    &::before {
      content: 'Citation: ';
      text-transform: lowercase;
      font-variant: small-caps;
      letter-spacing: 1px;
      color: $body-text-colour;
    }
  }

  // So that nested blockquotes do not break the vertical rhythm.
  blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

q {
  // Investigate: switching to html entities?
  quotes: '“' '”' '‘' '’' '“' '”' '‘' '’';
}

cite {
  font-style: $base-font-style;
}

article {
  h1:first-of-type {
    margin-top: 0;
  }
}
