// Font stacks
//
// We're currently testing Lato, using 3 styles: regular 400, italic 400, regular 700, as per the future design direction. At this stage the main target of our font stacks are still undecided, but we're confident to achieve a high degree of coverage using the fall-backs. We still need to consider the pros and cons of any webfont inclusion.
//
// Markup: font-stacks-scss.hbs
//
// Compatibility untested.
//
// Style guide: Typography.Font-stacks
@import url(https://fonts.googleapis.com/css?family=Lato:700,400italic,400&subset=latin,latin-ext);

$base-serif: 'Book Antiqua', Georgia, 'Bitstream Vera Serif', serif;
$base-sans-serif: 'Lato', Geneva, Verdana, 'Bitstream Vera Sans', sans-serif;
$base-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
// This gives us pretty much 95% coverage across Win/Mac, and a lot of FOSS default font installs.

$base-font-family: $base-sans-serif;

// Not actually sure if Lato 700 is being applied...
strong {
  font-weight: 700;
}

// Base spacing
//
// Important: we define our base spacing relative to the size of the type. The base-spacing unit is informed by the base leading, which is unit-less; it acts as a multiplier of the font-size. The base-spacing unit is then set in ems by * 1em.
//
// Markup: base-typography-scss.hbs
//
// Style guide: Typography.Configuration

// Leading/line-height.
$base-leading: 1.6;
$base-heading-leading: 1.4;

// Base spacing, re. to leading.
$base-spacing: $base-leading * 1em;
$medium-spacing: $base-spacing * 0.75;
$small-spacing: $base-spacing / 2;

// The base font-size mixin. This makes setting font sizes in rems easy, or
// you can just call the mixin `@include: font-size()`, and give it a number
// which when multiplied by 10 gives you the px size you essentially want.
@mixin font-size($size-value: 1.6) {
  font-size: ($size-value * 10) + px;
  font-size: $size-value + rem;
}

html {
  color: $black;
  line-height: $base-leading;
  font-size: 10px;
  font-family: $base-font-family;
}

// Headings
//
// Common styling for headings 1-6.
//
// Markup: headings.hbs
//
// Style guide: Typography.Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-heading-leading;
  font-weight: normal;
  margin-bottom: $small-spacing;
  margin-top: $base-spacing;
}

h1 {
  @include font-size(4.8);
}

h2 {
  @include font-size(3.6);
}

h3 {
  @include font-size(2.4);
}

h4 {
  @include font-size(2.1);
}

h5 {
  @include font-size(1.6);
}

h6 {
  @include font-size(1.6);
}

// For display font sizing.
.display {
  @include font-size(7.2);

  // Not settled at all on the breakpoint setup.
  //
  // Also need to find a nice and clean way to write this stuff in here.
  @include media($mobile-landscape and $tablet) {
    @include font-size(6);
  }

  @include media(screen and $mobile-landscape) {
    @include font-size(3.6);
  }
}

// Common content elements
//
// Base styling and vertical spacing for general content elements.
//
// Markup: content-typography.hbs
//
// Style guide: Typography.Content
ul,
ol,
dl,
p,
dt,
dd {
  margin-bottom: $small-spacing;
  font-size: 1.6rem;
}

li {
  margin-bottom: ($small-spacing / 2);
  margin-left: -($small-spacing / 4);
  padding-left: ($small-spacing / 4);

  ul,
  ol {
    margin-top: ($small-spacing / 2);
    margin-bottom: 0;
  }
}

dt {
  font-weight: 700;
  margin-top: $medium-spacing;

  &:first-of-type {
    margin-top: 0;
  }
}

// More specialised typography.
//
// For abstracts or page introductory paragraphs.
.abstract {
  @include font-size(2.4);
}

.callout {
  border-radius: $tiny-border-radius;
  box-shadow: 0 0 8px rgba($black, 0.45);
  padding: $medium-spacing $medium-spacing $medium-spacing $base-spacing;
  margin: $base-spacing $small-spacing;
}

.warning-block {
  border-left: ($small-spacing / 2) solid $red;
  padding-left: $base-spacing - ($small-spacing / 2);
}
