// Font stacks
//
// We're currently testing Lato, using 3 styles: regular 400, italic 400, regular 700, as per the future design direction. At this stage the main target of our font stacks are still undecided, but we're confident to achieve a high degree of coverage using the fall-backs. We still need to consider the pros and cons of any webfont inclusion.
//
// Markup: templates/font-stacks-scss.hbs
//
// Compatibility untested.
//
// Style guide: Typography.Font-stacks
@import url('https://fonts.googleapis.com/css?family=Lato:700,400italic,400&subset=latin,latin-ext');

$base-serif: 'Book Antiqua', Georgia, 'Bitstream Vera Serif', serif;
$base-sans-serif: 'Lato', Verdana, 'Bitstream Vera Sans', sans-serif;
$base-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
// This gives us pretty much 95% coverage across Win/Mac, and a lot of FOSS default font installs.

$base-font-family: $base-sans-serif;

// Not actually sure if Lato 700 is being applied...
strong {
  font-weight: 700;
}

// Base spacing and spacing
//
// We define our base spacing relative to the size of the type by anchoring it to the base leading, which is unit-less; it acts as a multiplier of the font-size.
//
// The base-spacing unit is then set in ems by * 1em.
//
// Markup: templates/base-typography-scss.hbs
//
// Style guide: Typography.Configuration

// Leading/line-height.
$base-leading: 1.8;
$base-heading-leading: 1.4;
$small-leading: 1.2;

// Base spacing, relative to leading.
$base-spacing: $base-leading * 1em;
$medium-spacing: $base-spacing * 0.75;
$small-spacing: $base-spacing / 2;

// Font weights
$base-font-weight: 400;
$heading-font-weight: 700;

// Font styles
$base-font-style: normal;

html {
  color: $black;
  line-height: $base-leading;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

// Headings
//
// Common styling for headings 1-6.
//
// Markup: templates/headings.hbs
//
// Style guide: Typography.Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-heading-leading;
  font-weight: $base-font-weight;
  margin-bottom: $small-spacing;
  margin-top: $base-spacing;
}

h1 {
  font-size: rem(57);
  font-weight: $base-font-weight;
  line-height: $small-leading;

  @include media($desktop) {
    font-size: rem(51);
  }

  @include media($tablet) {
    font-size: rem(57);
  }

  @include media($mobile) {
    font-size: rem(51);
  }
}

h2 {
  font-size: rem(43);
  line-height: $small-leading;

  @include media($desktop) {
    font-size: rem(38);
  }

  @include media($tablet) {
    font-size: rem(43);
  }

  @include media($mobile) {
    font-size: rem(38);
  }
}

h3 {
  font-size: rem(28);
  font-weight: $heading-font-weight;

  @include media($desktop) {
    font-size: rem(28);
  }

  @include media($tablet) {
    font-size: rem(32);
  }

  @include media($mobile) {
    font-size: rem(28);
  }
}

h4 {
  font-size: rem(21);
  font-weight: $heading-font-weight;

  @include media($desktop) {
    font-size: rem(21);
  }

  @include media($tablet) {
    font-size: rem(24);
  }

  @include media($mobile) {
    font-size: rem(21);
  }
}

h5 {
  font-size: rem(16);
  font-weight: $heading-font-weight;

  @include media($desktop) {
    font-size: rem(16);
  }

  @include media($tablet) {
    font-size: rem(18);
  }

  @include media($mobile) {
    font-size: rem(18);
  }
}

h6 {
  @extend h5;
}

// Common content elements
//
// Base styling and vertical spacing for general content elements.
//
// Markup: templates/content-typography.hbs
//
// Style guide: Typography.Content
ul,
ol,
dl,
p,
dt,
dd {
  margin-bottom: $small-spacing;
  font-size: rem(16);

  @include media($tablet) {
    font-size: rem(18);
  }

  @include media($mobile) {
    font-size: rem(18);
  }
}

li {
  margin-bottom: ($small-spacing / 2);
  margin-left: -($small-spacing / 4);
  padding-left: ($small-spacing / 4);

  ul,
  ol {
    margin-top: ($small-spacing / 2);
    margin-bottom: 0;
  }
}

dt {
  font-weight: 700;
  margin-top: $medium-spacing;

  &:first-of-type {
    margin-top: 0;
  }
}


// For display font sizing.
.display {
  @extend h1;
}

// More specialised typography.
//
// For abstracts or page introductory paragraphs.
.abstract {
  font-size: rem(24);
}

// Quotations
//
// Styling for in-line quotations and blockquotes, and citations.
//
// Markup: templates/quotations-typography.hbs
//
// Style guide: Typography.Quotations
blockquote {
  margin: $medium-spacing 0;
  padding: $small-spacing ($base-spacing + ($small-spacing * 0.75));
  background-color: #f9f9f9;
  font-family: $base-serif;
  quotes: '\201C''\201D''\2018''\2019';

  &::before,
  &::after {
    display: block;
    height: 0;
    font-family: $base-serif;
    font-size: rem(43);
    color: $light-navy;
  }

  &::before {
    margin-left: -($small-spacing * 0.75);
    content: open-quote;
  }

  &::after {
    margin-right: -($small-spacing * 0.75);
    margin-top: -($small-spacing);
    padding-bottom: $medium-spacing;
    text-align: right;
    content: close-quote;
  }

  footer {
    margin-top: $medium-spacing;
    padding-top: ($small-spacing / 2);
    border-top: 1px solid $light-grey;
  }

  cite {
    display: inline-block;
    font-family: $base-sans-serif;

    &::before {
      content: 'Citation: ';
      text-transform: lowercase;
      font-variant: small-caps;
      letter-spacing: 1px;
      color: $dark-grey;
    }
  }

  blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

q {
  quotes: '“' '”' '‘' '’' '“' '”' '‘' '’';
}

cite {
  font-style: $base-font-style;
}

.callout {
  margin: $base-spacing $small-spacing;
  padding: $medium-spacing $medium-spacing $medium-spacing $base-spacing;
  border-radius: $tiny-border-radius;
  box-shadow: 0 0 8px rgba($black, 0.45);
}

.warning-block {
  border-left: ($small-spacing / 2) solid $red;
  padding-left: $base-spacing - ($small-spacing / 2);
}
