// Leading/line-height
$base-leading: 1.6;
$base-heading-leading: 1.4;

// Base spacing
$base-spacing: $base-leading * 1em;
$small-spacing: $base-spacing / 2;

// The base font-size mixin. This makes setting font sizes in rems easy.
@mixin font-size($size-value: 1.6) {
  font-size: ($size-value * 10) + px;
  font-size: $size-value + rem;
}

html {
  color: $black;
  line-height: $base-leading;
  font-size: 10px;
}

// Headings
//
// Common styling for headings 1-6.
//
// Markup: headings.hbs
//
// Style guide: Typography.Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-heading-leading;
  font-weight: normal;
  margin-bottom: $small-spacing;
  margin-top: $small-spacing;
}

// For display font sizing.
.display {
  @include font-size(4.8);
}

// For abstracts or page introductory paragraphs.
.abstract {
  @include font-size(2.4);
}

// Common content elements
//
// Base styling and vertical spacing for general content elements.
//
// Markup: content-typography.hbs
//
// Style guide: Typography.Content
ul,
ol,
dl,
p,
dt,
dd {
  margin-bottom: $small-spacing;
  font-size: 1.6rem;
}

li {
  margin-bottom: ($small-spacing / 2);

  ul,
  ol {
    margin-top: ($small-spacing / 2);
    margin-bottom: 0;
  }
}

dt {
  font-weight: bold;
  margin-top: $base-spacing;

  &:first-of-type {
    margin-top: 0;
  }
}
