/*
Typography

This framework uses [Bourbon](https://github.com/thoughtbot/bourbon) and [Neat](https://github.com/thoughtbot/neat) to provide a consistent 12 column responsive grid layout with basic content styling and good typographic defaults.

The framework aims to meet common government typographic needs:

- clear and consistent headings and labels
- legible body paragraphs
- easy-to-use input fields.

It is designed to provide:

- the highest standards of usability and accessibility
- a consistent visual voice of credibility and warmth
- ease-of-use across Australian Government digital platforms.

The following guidance may change to apply only to content inside an `article`.

Style guide: Typography
*/

/*
Typeface

We are currently testing the open source [Open Sans font family](https://www.google.com/fonts/specimen/Open+Sans) in 3 styles:

<div class="guide--type-example"><h4>Open Sans regular 400</h4>
  <p class='abstract'>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
  abcdefghijklmnopqrstuvwxyz<br />
  1234567890(!@#s%g.,?:;)</p>
</div>
<div class="guide--type-example"><h4>Open Sans regular 400 italic</h4>
  <p class='abstract'><em>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
  abcdefghijklmnopqrstuvwxyz<br />
  1234567890(!@#s%g.,?:;)</em></p>
</div>
<div class="guide--type-example"><h4>Open Sans bold 700</h4>
  <p class='abstract'><strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
  abcdefghijklmnopqrstuvwxyz<br />
  1234567890(!@#s%g.,?:;)</strong></p>
</div>

The framework is likely to change to a different primary typeface. We are currently testing the use of webfonts generally.

We aim to spend a spike in the future to properly test and optimise any usage of webfonts.

Style guide: Typography.1 Typeface
*/

/*
Font stacks

```
$base-serif: 'Book Antiqua', Georgia, 'Bitstream Vera Serif', serif;
$base-sans-serif: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif;
$base-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
```

We have not decided on using a webfont but the font stacks should still achieve a high degree of coverage across a range of browsers and operating systems using the fall-backs (roughly 95% coverage).

Currently you will need to `link` to Open Sans via the HTML `head` to support Internet Explorer.

Style guide: Typography.1 Typeface.1 Font stacks
*/

/*
Breakpoints

- Mobile (extra small devices): 4 columns, 420px maximum
- Tablet (small devices): 8 columns, 768px maximum
- Desktop (medium devices): 12 columns, 1200px maximum

You should think about this in parallel with the [grid breakpoints](section-grid.html#kssref-grid-3-breakpoints).

Style guide: Typography.2 Headings & body copy.1 Breakpoints
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,600,700,400&subset=latin,latin-ext');

$base-serif: 'Book Antiqua', Georgia, 'Bitstream Vera Serif', serif;
$base-sans-serif: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif;
$base-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;

$base-font-family: $base-sans-serif;

/*
Spacing

Spacing is relative to the `line-height` (leading) of the font size.

```
$base-leading: 1.6;
$base-heading-leading: 1.4;

html {
  color: $body-text-colour;
  line-height: $base-leading;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}
```

The values are anchored to the `base-leading` (which is unit-less) and act as a multiplier of the font size. The `$base-spacing` unit is then set in ems (ie by * 1em).

```
$base-spacing: $base-leading * 1em;
$medium-spacing: $base-spacing * 0.75;
$small-spacing: $base-spacing / 2;
```

We are likely to change the `$base-spacing` unit to give a figure easier to multiply and divide.

Style guide: Typography.3 Spacing
*/

// Leading/line-height.
$base-leading: 1.8;
$base-heading-leading: 1.4;
$small-leading: 1.2;

// Base spacing, relative to leading.
$base-spacing: $base-leading * 1em;
$medium-spacing: $base-spacing * 0.75;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $base-spacing / 4;

// Font weights
$base-font-weight: 400;
$bold-font-weight: 600;
$heading-font-weight: 700;

// Font sizes
$small-font-size: 87.5%;

// Font styles
$base-font-style: normal;

html {
  color: $body-text-colour;
  line-height: $base-leading;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

/*
Headings & body copy

The type sizes are designed for legibility and readability. We are currently testing this.

They are initially based on a perfect fourth modular scale.

### Breakpoints

- Mobile (extra small devices): 4 columns, 420px maximum
- Tablet (small devices): 8 columns, 768px maximum
- Desktop (medium devices): 12 columns, 1200px maximum

### Font size & line heights default settings

Use relative units to allow for variety across users' browsers and device screens.

 This table shows font size and line height (size/line-height) in pixels and ems.

<table class="content-table">
  <tr>
    <th>Style</th>
    <th>Mobile</th>
    <th>Tablet</th>
    <th>Desktop</th>
  </tr>
  <tr>
    <td>h1 / .display </td>
    <td>51 / 3.1875em</td>
    <td>57 / 3.5625em<br></td>
    <td>51 / 3.1875em</td>
  </tr>
  <tr>
    <td>h2</td>
    <td>43 / 2.6875em</td>
    <td>43 / 2.6875em</td>
    <td>38 / 2.375em</td>
  </tr>
  <tr>
    <td>h3</td>
    <td>28 / 1.75em</td>
    <td>32 / 1.75em</td>
    <td>28 / 1.75em</td>
  </tr>
  <tr>
    <td>h4 / .abstract</td>
    <td>21 / 1.3125em</td>
    <td>24 / 1.5em</td>
    <td>21 / 1.3125em</td>
  </tr>
  <tr>
    <td>h5</td>
    <td>18 / 1.125em</td>
    <td>18 / 1.125em</td>
    <td>16 / >1em</td>
  </tr>
  <tr>
    <td>h6</td>
    <td>18 / 1.125em</td>
    <td>18 / 1.125em</td>
    <td>16 / 1em</td>
  </tr>
  <tr>
    <td>Body copy</td>
    <td>18 / 1.125em</td>
    <td>18 / 1.125em</td>
    <td>16 / 1em</td>
  </tr>
</table>

### Base size examples

Markup: templates/heading-body-styles.hbs

Style guide: Typography.2 Headings & body copy
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-heading-leading;
  font-weight: $heading-font-weight;
  margin-bottom: $small-spacing * .5;
  margin-top: $base-spacing;
}

h1 {
  font-size: rem(40);
  line-height: $small-leading;

  @include media($tablet) {
    font-size: rem(44);
  }

  @include media($mobile) {
    font-size: rem(32);
  }

  &:first-of-type {
    margin-top: $tiny-spacing;
  }
}

h2 {
  font-size: rem(32);
  line-height: $small-leading;

  @include media($mobile) {
    font-size: rem(28);
  }
}

h3 {
  font-size: rem(26);
  font-weight: $heading-font-weight;

  @include media($mobile) {
    font-size: rem(24);
  }
}

h4 {
  font-size: rem(22);
  font-weight: $heading-font-weight;

  @include media($mobile) {
    font-size: rem(19);
  }
}

h5 {
  font-size: rem(16);
  font-weight: $heading-font-weight;

  @include media($mobile) {
    font-size: rem(16);
  }
}

h6 {
  @extend h5;
}

a {
  color: $link-colour;
  text-decoration: none;
  border-bottom: 1px solid;

  &:visited {
    color: $link-colour;
  }

  &:hover,
  &:active {
    border-bottom-color: lighten($highlight-colour, 30%);
    color: $highlight-colour;
  }

}

code,
pre,
samp,
kbd {
  font-family: $base-monospace;
  font-size: $small-font-size;
}

strong {
  font-weight: $bold-font-weight;
}

/*
Horizontal & vertical rhythm

Combinations of these elements have been tested to maintain vertical rhythm between content.

Style guide: Typography.4 Horizontal & vertical rhythm
*/

/*
Lists

List styles have been developed for:

- unordered lists (bullet point lists)
- ordered lists (numbered)
- definition lists (terms and definitions).

Markup: templates/list-examples.hbs

Style guide: Typography.4 Horizontal & vertical rhythm.1 Lists
*/

/*
Callouts & warnings

**Callouts** and **warning callouts** can be used to draw the user's attention to a specific piece of content.

Markup: templates/callouts-examples.hbs

Style guide: Typography.4 Horizontal & vertical rhythm.2 Callouts & warnings
*/

/*
Badges

The framework provides styling for `badges` to indicate status:

- <span class="badge--default">in-progress</span> using `<span class="badge--default">in-progress</span>`
- <span class="badge--alpha">alpha</span> using `<span class="badge--alpha">alpha</span>`
- <span class="badge--beta">beta</span> using `<span class="badge--beta">beta</span>`
- <span class="badge--error">error</span> using `<span class="badge--error">error</span>`
- <span class="badge--success">done</span> using `<span class="badge--success">done</span>`

Style guide: Typography.4 Horizontal & vertical rhythm.3 Badges
*/

/*
Quotations

The framework provides 2 ways of using quotes:

- **in-line quoting** using `q` element (adds quotation marks to either side of the in-line quotation)
- **block quotes** via `blockquote`:
 - standard block quote
 - editorial block quote (pull quote) with larger size text.

`blockquote` is a block-level element that can contain in-line elements. So they can nest:

- multiple paragraphs, lists, etc
- another `blockquote`
- the `footer` element to provide citations using `<cite>`.

Markup: templates/quotation-examples.hbs

Style guide: Typography.4 Horizontal & vertical rhythm.4 Quotations
*/

ul,
ol {
  padding-left: 1.1 * $base-spacing;
}

ul,
ol,
dl,
p,
dt,
dd {
  margin-bottom: $small-spacing;
  font-size: rem(16);
  line-height: $base-spacing * .9;

  @include media($tablet) {
    font-size: rem(18);
  }

  @include media($mobile) {
    font-size: rem(18);
  }
}

li {
  margin-bottom: ($small-spacing / 1.5);
  margin-left: -($small-spacing / 4);
  padding-left: ($small-spacing / 4);

  ul,
  ol {
    margin-top: ($small-spacing / 2);
    margin-bottom: 0;
  }
}

dt {
  font-weight: $bold-font-weight;
  margin-top: $medium-spacing;

  &:first-of-type {
    margin-top: 0;
  }
}

// For display font sizing.
.display {
  @extend h1;
}

// More specialised typography.
//
// For abstracts or page introductory paragraphs.
.abstract {
  @extend h4;

  font-weight: $base-font-weight;
  border-bottom: 1px solid;
  padding-bottom: 1.3 * $base-spacing;
  margin-bottom: 2 * $base-spacing;
}

blockquote {
  margin: $medium-spacing 0;
  padding: $small-spacing ($base-spacing + ($small-spacing * 0.75));
  background-color: $lighter-grey;
  font-family: $base-serif;
  quotes: '\201C''\201D''\2018''\2019';

  &.pullquote {
    padding: 0;
    background-color: $background-colour;

    p {
      @extend h3;

      line-height: $base-leading;
      text-align: center;
      font-weight: $base-font-weight;
    }

    // Support: IE7 does not properly support pseudo elements `:before`/`:after`: http://caniuse.com/#feat=css-sel2

    &::before,
    &::after {
      text-align: center;
      margin: 0;
    }

    &::after {
      margin-top: -($tiny-spacing);
    }
  }

  &::before,
  &::after {
    display: block;
    height: 0;
    font-family: $base-serif;
    font-size: rem(43);
    color: $aqua;
  }

  &::before {
    margin-left: -($small-spacing * 0.75);
    content: open-quote;
  }

  &::after {
    margin-right: -($small-spacing * 0.75);
    margin-top: -($small-spacing);
    padding-bottom: $medium-spacing;
    text-align: right;
    content: close-quote;
  }

  footer {
    margin-top: $medium-spacing;
    padding-top: ($small-spacing / 2);
    border-top: 1px solid $light-grey;
  }

  cite {
    display: inline-block;
    font-family: $base-sans-serif;

    &::before {
      content: 'Citation: ';
      text-transform: lowercase;
      font-variant: small-caps;
      letter-spacing: 1px;
      color: $dark-grey;
    }
  }

  // So that nested blockquotes do not break the vertical rhythm.
  blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

q {
  // Investigate: switching to html entitites?
  quotes: '“' '”' '‘' '’' '“' '”' '‘' '’';
}

cite {
  font-style: $base-font-style;
}


// Callouts
.callout {
  margin: $base-spacing $small-spacing;
  padding: $medium-spacing $medium-spacing $medium-spacing $base-spacing;
  border-radius: $tiny-border-radius;
  box-shadow: 0 0 8px $light-grey;
}

.callout--warning {
  @extend .callout;

  border-left: ($small-spacing / 2) solid $red;
  padding-left: $base-spacing - ($small-spacing / 2);
}

$badges: (
  'default':  $badge-colour-default,
  'alpha':    $badge-colour-alpha,
  'beta':     $badge-colour-beta,
  'error':    $badge-colour-error,
  'success':  $badge-colour-success,
);

@each $badge-type, $colour in $badges {
  .badge--#{$badge-type} {
    display: inline-block;
    background-color: $colour;
    border-radius: $large-border-radius;
    padding: $tiny-spacing $small-spacing;
    line-height: 1;
    letter-spacing: 1px;
    color: lighten($colour, 75%);
    font-size: rem(14);
  }
}

// Refactor into an images partial?
img {
  max-width: 100%;
}
