$kit-image-url-base: '../latest/img/' !default;

$kit-z-index-base: 0 !default;
$kit-border-radius-base: 3px !default;
$kit-border-radius-tiny: 1px !default;
$kit-border-radius-large: ($kit-border-radius-base * 4) !default;

$kit-transition-timing-base: .2s !default;
$kit-transition-timing-fast: ($kit-transition-timing-base / 2) !default;
$kit-transition-easing-base: ease-in-out !default;

$kit-font-family-serif: 'Book Antiqua', Georgia, 'Bitstream Vera Serif', serif !default;
$kit-font-family-sans-serif: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif !default;
$kit-font-family-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace !default;

$kit-font-family-base: $kit-font-family-sans-serif !default;

// Leading/line-height
$kit-leading-base: 1.6 !default;
$kit-leading-headings: 1.4 !default;
$kit-leading-small: 1.2 !default;
$kit-leading-double: 2 !default;

// Base spacing, relative to leading
$kit-spacing-base: $kit-leading-base * 1em !default;

$kit-spacing-large: $kit-spacing-base * 2 !default;
$kit-spacing-medium: $kit-spacing-base * 0.75 !default;
$kit-spacing-small: $kit-spacing-base / 2 !default;
$kit-spacing-tiny: $kit-spacing-base / 4 !default;

// Font weights
$kit-font-weight-base: 400 !default;
$kit-font-weight-bold: 700 !default;
$kit-font-weight-headings: $kit-font-weight-bold !default;

// Font sizes
$kit-font-size-smaller: 62.5% !default;
$kit-font-size-small: 87.5% !default;
$kit-font-size-large: 150% !default;

// Font styles
$kit-font-style-base: normal !default;
