@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

@import "colours";

// Button
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
// .shiny   - Do not press this big, shiny, red button.
//
// Markup: <button class="button {{modifier_class}}">
//
// Style guide: components.button
