<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]>
<html lang="en" class="ie6 no-js">    <![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="ie7 no-js">    <![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="ie8 no-js">    <![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="ie9 no-js">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- viewport declaration must be included in <head> for media queries to work correctly on real devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Topic landing page</title>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Open+Sans:400italic,700,400:latin,latin-ext']
      }
    });
  </script>

  <!-- Yellow UA msg for anything older than IE9. Please remove me post end-Aug demo. -->
  <!-- There is a .ua-notification in _accessibility. This should remain post end-Aug. -->
  <!--[if gte IE 9 | !IE ]><!--><link rel="stylesheet" type="text/css" href="../latest/ui-kit.css"/><!--<![endif]-->
  <!--[if lt IE 9]><style>body{margin:0; font-family:sans-serif;}.ua-notification {display: block;padding: 0.8em;text-align: center;background-color: #f9c642;color: #313131;font-size: rem(17); margin-top:0;}</style><![endif]-->

  <!--[if lt IE 9]>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'></script>
  <![endif]-->

  <script type="text/javascript" src="../latest/ui-kit.js"></script>

</head>
<body>

  <!-- Yellow UA msg for anything older than IE9. Please remove me post end-Aug demo. -->
  <!-- Compatibility message --><!--[if lt IE 9]><p class="ua-notification">GOV.AU works better on a newer web browser (the software you use to access the internet). We’re improving how it works in your browser.</p><![endif]-->

  <nav class="skip-to">
    <a href="#content">Skip to main content</a> <a href="#nav">Skip to section navigation</a>
  </nav>

  <%= contents %>

</body>
</html>
