/*
Grid

Collection: Foundations

Style guide: Grid
*/

$grid-columns: 4 !global;
$max-width: em(1200) !global;
$gutter: em(32);

/*
Responsive breakpoints

Style guide: Grid.3 Breakpoints
*/

$mobile-minwidth: 420px;
$tablet-minwidth: 768px;
$desktop-minwidth: 1200px;

$mobile-grid-columns: 8;
$tablet-grid-columns: 12;
$content-grid-columns: $tablet-grid-columns;
$desktop-grid-columns: 16;

$mobile: new-breakpoint(max-width $mobile-minwidth, $mobile-grid-columns);
$mobile-only: new-breakpoint(max-width $tablet-minwidth - 1, $mobile-grid-columns);
$tablet: new-breakpoint(min-width $tablet-minwidth, $tablet-grid-columns);
$tablet-only: new-breakpoint(min-width $tablet-minwidth max-width $desktop-minwidth - 1, $tablet-grid-columns);
$desktop: new-breakpoint(min-width $max-width, $desktop-grid-columns);

/*
Helpers

Style guide: Grid.4 Helpers
*/

/*

Style guide: Grid.4 Helpers.1 Font stacks
*/

@mixin omega-reset($nth) {
  $nth-plus-one: '#{$nth}+1';

  &:nth-child(#{$nth}) {
    margin-right: flex-gutter($content-grid-columns);
  }

  &:nth-child(#{$nth-plus-one}) {
    clear: none;
  }
}

/*
Debugging

Style guide: Grid.4 Helpers.2 Debugging
*/

// Toggle visibility of your grid columns for development/debugging.
$visual-grid: false;

$border-box-sizing: true;
$disable-warnings: true;
