/*
Buttons

Collection: Components

Markup: templates/buttons-examples.html

Style guide: Forms & buttons. 01 Buttons
*/

// Nest this mixin for specifying new button colours
@mixin button-colours($bg-colour, $bg-colour--hover, $bg-colour--active, $text-colour, $text-colour--hover: $text-colour) {
  button,
  .button,
  [role='button'],
  [type='submit'],
  [type='reset'],
  [type='button'] {
    background-color: $bg-colour;
    color: $text-colour;
    border-color: $bg-colour--hover;

    &:hover,
    &:focus {
      background-color: $bg-colour--hover;
      color: $text-colour--hover;
      outline: $text-colour--hover solid 2px;
      outline-offset: -4px;
    }

    &:active {
      background-color: $bg-colour--active;
      outline: $text-colour solid 2px;
      outline-offset: -4px;
    }
  }
}


// Default button appearance (no colour)
%base-button {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  height: $base-spacing * 2;
  margin: 0 $base-spacing $small-spacing 0;
  padding: $small-spacing $base-spacing;
  border-radius: $tiny-border-radius;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  outline: 0;
  text-decoration: none;
  font-weight: $bold-font-weight;

  @include media($tablet) {
    height: $base-spacing * 1.75;
    padding: ($tiny-spacing * 1.25) $medium-spacing;
  }
}


// Buttons out of the box (colour is specified elsewhere by nesting the button-colours mixin)
button,
.button,
[role='button'],
[type='submit'],
[type='reset'],
[type='button'] {
  @extend %base-button;

  &[disabled],
  &.disabled {
    &,
    &:hover,
    &:active,
    &:focus {
      cursor: not-allowed;
      border-color: $button-bg-colour--disabled;
      background-color: $button-bg-colour--disabled;
      color: $non-black;
    }
  }

  &.inverted {
    border-color: $button-inverted-colour;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      border-color: $button-inverted-colour;
      background-color: $button-inverted-colour;
      color: $button-inverted-text-colour;
    }
  }
}
