/*
Buttons

Collection: Components

Markup: templates/buttons-examples.html

Style guide: Forms & buttons. 01 Buttons
*/

// Nest this mixin for specifying new button colours
@mixin button-colours($bg-colour, $bg-colour--hover, $bg-colour--active, $text-colour, $text-colour--hover: $text-colour) {
  button,
  .button,
  [role='button'],
  [type='submit'],
  [type='reset'],
  [type='button'] {
    background-color: $bg-colour;
    color: $text-colour;
    border-color: $bg-colour--hover;

    &:hover,
    &:focus {
      background-color: $bg-colour--hover;
      color: $text-colour--hover;
    }

    &:active {
      background-color: $bg-colour--active;
    }
  }
}


// Default button appearance (no colour)
%base-button {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  height: $base-spacing * 2;
  margin: 0 $base-spacing $small-spacing 0;
  padding: $small-spacing $base-spacing;
  border-radius: $tiny-border-radius;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  outline: 0;
  text-decoration: none;
  font-weight: $bold-font-weight;

  @include media($tablet) {
    height: $base-spacing * 1.75;
    padding: ($tiny-spacing * 1.25) $medium-spacing;
  }
}


// Buttons out of the box (colour is specified elsewhere by nesting the button-colours mixin)
button,
.button,
[role='button'],
[type='submit'],
[type='reset'],
[type='button'] {
  @extend %base-button;

  &[disabled],
  &.disabled {
    &,
    &:hover,
    &:active,
    &:focus {
      cursor: not-allowed;
      border-color: $button-bg-colour--disabled;
      background-color: $button-bg-colour--disabled;
      color: $non-black;
    }
  }

  &.inverted {
    border-color: $button-inverted-colour;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      border-color: $button-inverted-colour;
      background-color: $button-inverted-colour;
      color: $button-inverted-text-colour;
    }
  }
}

/*

input groups

HTML EXAMPLES

Standard input group using button element

 <div class="input-group">
   <input  maxlength="128"  placeholder="Type search term here" title="Search" type="text" value="" />
   <button>Search</button>
 </div>

Standard input group using input[type='button']

<div class="input-group">
  <input maxlength="128" placeholder="Type search term here" title="Search" type="text" value="" />
  <input class="form-submit" type="submit" value="Search" />
</div>

Reverse input group using button element

<div class="input-group reverse">
   <input  maxlength="128"  placeholder="Type search term here" title="Search" type="text" value="" />
   <button>Search</button>
</div>

Reverse input group using input[type='button']

<div class="input-group reverse">
  <input maxlength="128" placeholder="Type search term here" title="Search" type="text" value="" />
  <input class="form-submit" type="submit" value="Search" />
</div>

*/

.input-group {
  display: flex;

  %base-button {
    margin: 0;
  }

  // The default HTML structure is button or [type='button'] element to the right
  > :nth-child(1) {
    border-right: 0;
  }
}

// button or [type='button'] to the left (reverse HTML structure)
.input-group.reverse  {

  > :nth-child(2) {
    border-left: 0;
  }
}
