
// HTML example
// ========================================
// <div class="form-validation form-validation--type-error" role="alert">
//   <div class="icon-box"></div>
//   <h2>There were 3 errors found in the information you submitted</h2>
//   <ol>
//     <li><a href="#textinvalid">Please enter a valid licence number <span class="visuallyhidden">Error 1 of 3</span></a></li>
//     <li><a href="#textinvalid">Please enter a valid email address <span class="visuallyhidden">Error 2 of 3</span></a></li>
//     <li><a href="#textinvalid">First name is required <span class="visuallyhidden">Error 3 of 3</span></a></li>
//   </ol>
// </div><!--form-validation-->

// Notes
// ========================================
// Use ARIA role 'alert' on notifications (both dynamic and static)
// https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role
//
// The `.form-validation` box should appear at the top of a page so that it is one of the first things read by assistive tech.
// It should then link to the form elements which have errors.
// http://webaim.org/techniques/formvalidation/
//
// The use of `<span class="visuallyhidden">Error 1 of 3</span>` inside of links in the `.form-validation` element so that it is read when focused

// Client side / dynamic validation
// ========================================
// Add `role="alert"` to the alert so that assistive tech is notified.
// Add `<span class="visuallyhidden">Error X of X</span>` to the alert.
// On submit, set focus to the first input which has an error. (See gmail login example)


.form-validation {
  position: relative;
  margin: $base-spacing 0;
  padding: $medium-spacing $medium-spacing $medium-spacing ( $large-spacing + $medium-spacing );
  border: solid 2px $non-black;
  border-radius: $large-border-radius;
  overflow: hidden; //hides border-radius corners of.icon-box

  .icon-box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $large-spacing;
    background-color: $non-black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $base-spacing auto;
    //  FIXME how should PNG 2x work in <ie9 because background-size will not?
    //  In the past I've used modernizr and this:
    // .selector { background-image url(icon-1x.png); }
    // .svg .selector { background-image url(icon.svg); }
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 1em;
    font-weight: $bold-font-weight;
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    padding-left: 1.5em;
  }
}

.form-validation--type-error {
  border-color: $error-colour;

  .icon-box {
    background-color: $error-colour;
    @include inline-background-image('form-validation--type-error-icon');
  }
}

.form-validation--type-warning {
  border-color: $warning-colour;

  .icon-box {
    background-color: $warning-colour;
    @include inline-background-image('form-validation--type-error-icon'); //TODO create asset
  }
}

.form-validation--type-success {
  border-color: $success-colour;

  .icon-box {
    background-color: $success-colour;
    @include inline-background-image('form-validation--type-success-icon');
  }
}

.form-validation--type-info {
  border-color: $info-colour;
  background-color: $light-blue;

  .icon-box {
    background-color: $info-colour;
    @include inline-background-image('form-validation--type-error-icon'); //TODO create asset
  }
}


//==================

.field-validation-error {
  display: block;
  font-weight: $bold-font-weight;
  color: $error-colour;
  padding: $small-spacing $small-spacing $small-spacing $large-spacing ;
  background-color: $light-red;
  line-height: 1.2;
  background-position: $small-spacing center;
  background-repeat: no-repeat;
  background-size: $base-spacing auto;
  margin: $small-spacing auto;

  @include inline-background-image('inline-validation--type-error-icon');
}
