/*
Forms & buttons

Collection: Components

Style guide: Forms & buttons
*/

/*
Text input

Markup: templates/text-input-single-line.html

Style guide: Forms & buttons.02 Text input
*/

%base-input {
  width: 100%;
  outline-offset: 0;
  border: 2px solid $border-colour;
  border-radius: 0;
  background-color: $background-colour;
  padding: $tiny-spacing;

  &:invalid,
  &.invalid {
    outline: 2px solid $error-colour;
  }

  &.valid {
    outline: 2px solid $success-colour;
  }

  &:focus {
    outline: 2px solid $input-focus-colour;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    background: $non-white;
    border: 2px solid $light-grey;
  }

}

form {

  fieldset,
  p {
    margin: 0 0 $medium-spacing 0;
    padding: 0;
    border: none;
  }

  legend {
    margin-bottom: $small-spacing;
  }

  // klepas cleaned up the spacing vars a bit... just don't scroll further down.
  label {
    display: block;
    margin-top: ($small-spacing + $tiny-spacing);
    margin-bottom: ($small-spacing + $tiny-spacing);
    margin-left: $small-spacing;

    @include media($tablet) {
      margin-top: $small-spacing;
      margin-bottom: $small-spacing;
    }
  }

  .hint {
    display: block;
    margin-bottom: $tiny-spacing;
    font-size: rem(14);
    color: $body-text-colour;
  }

  [type='text'],
  [type='number'],
  [type='tel'],
  [type='email'],
  [type='password'] {
    @extend %base-input;
  }

  /*
  Text area input

  Markup: templates/textarea-input.html

  Style guide: Forms & buttons.03 Text area input
  */

  textarea {
    @extend %base-input;
    resize: vertical;
  }


  input {
    &[type='radio'],
    &[type='checkbox'] {
      @extend %base-input;

      height: 1px;
      // Hide the native widget but keep it in the tab order
      // For 2.x we should burn this with fire. Lots of fire.
      left: -10000px;
      position: absolute;
      visibility: visible;
      width: 1px;

      &:focus + label {
        outline: 1px solid $border-colour;
      }

      &:invalid + label {
        color: $error-colour;

        &::before {
          border-color: $error-colour;
        }
      }

      + label {
        display: inline-block;
        float: left;
        width: 100%;

        &::before {
          display: inline-block;
          float: left;
          // These magic numbers need to be blitzed in 2.x
          height: 27px;
          width: 27px;
          text-align: center;
          margin-right: 14px;

          @include media($tablet) {
            top: 9px;
          }
        }

        @include ie-lte(8) {
          border: 0;
          height: 3em;
          left: 1px;
          margin-bottom: -4em;
          position: relative;
          width: 3em;
        }
      }
    }
  }

  /*
  Radio button input

  Markup: templates/radio-button-input.html

  Style guide: Forms & buttons.04 Radio button input
  */

  input[type='radio'] {
    & + label {
      &::before {
        border: 2px solid $body-text-colour;
        border-radius: 50%;
        content: '';
        left: 18px;
      }
    }

    &:checked + label {
      font-weight: bold;

      &::before {
        border-radius: 50%;
        content: '';
      }

      &::after {
        width: 17px;
        height: 17px;
        background-color: $body-text-colour;
        border: 1px solid transparent;
        border-radius: 50%;
        content: '';
        float: left;
        // More magic numbers...
        margin-left: -36px;
        margin-top: 5px;

        @include media($tablet) {
          top: 14px;
        }
      }
    }
  }

  /*
Checkbox input

Markup: templates/checkbox-input.html

Style guide: Forms & buttons.05 Checkbox input
*/
  input[type='checkbox'] + label {
    &::before {
      border: 2px solid $body-text-colour;
      content: '';
    }
  }

  input[type='checkbox'] {
    &:checked + label {
      font-weight: bold;

      &::before {
        font-size: 18px;
        content: '';
      }

      &::after {
        width: 17px;
        height: 17px;
        background-color: $body-text-colour;
        border: 1px solid transparent;
        content: '';
        float: left;
        margin-left: -36px;
        margin-top: 5px;
      }
    }
  }
}

/*
Accessibility

Markup: templates/hint-text.html

Style guide: Forms & buttons.06 Accessibility
*/
