@mixin wrapper-padding {
  @include pad(0 $gutter);

  width: 100%;
  box-sizing: border-box;

  @include media($desktop) {
    width: 100%;
    min-width: $max-width;
  }
}

@mixin flex-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header[role='banner'],
  footer[role='contentinfo'] {
    flex: none;
  }

  main {
    // makes flex work in IE10/11 https://thatemil.com/blog/2013/11/03/sticky-footers-flexbox-and-ie10/
    flex: 1 0 auto;
  }
}

/*
Layout

Style guide: Grid.5 Layout
*/

/*
Wrapper class

Style guide: Grid.5 Layout.1 Wrapper
*/

.wrapper {
  @include wrapper-padding;
  @include outer-container;
}

html {
  @include ie-lte(8) {
    position: relative;
    min-height: 100%;
  }
}

body {
  @include flex-layout;
}

main {
  @include wrapper-padding;
  @include outer-container;

  padding-top: $base-spacing * 2;

  @include ie-lte(8) {
    @include ie-clearfix;
  }

  .form-wrapper {
    @include fill-parent;

    @include media($tablet) {
      @include span-columns(4 of 6);
    }
  }

  @include ie-lte(7) {
    zoom: 1;
  }

  /*
  Sidebar

  Style guide: Grid.6 Sidebar
  */
  @include direction-context(right-to-left) {
    .sidebar {
      @include fill-parent;

      @include media($tablet) {
        @include span-columns(4 of 12);
      }

      @include media($desktop) {
        @include span-columns(4 of 16);
      }
    }

    .content-main {
      @include fill-parent;

      @include media($tablet) {
        @include span-columns(8 of 12);

        @include ie-lte(8) {
          margin-left: 0;
        }
      }

      @include media($desktop) {
        @include span-columns(12 of 16);

        @include ie-lte(8) {
          margin-left: 0;
        }
      }

      &:first-child {
        @include reset-layout-direction;
        @include fill-parent;
        @include shift(0);

        @include media($tablet) {
          @include span-columns(8 of 12);
          @include shift(0);
        }

        @include media($desktop) {
          @include span-columns(10 of 16);
          @include shift(0);
        }
      }
    }
  }

  &.sidebar-has-controls {
    @include reset-layout-direction;

    .sidebar {
      @include fill-parent;

      @include media($tablet) {
        @include span-columns(4 of 12);

        margin-left: 0;
      }

      @include media($desktop) {
        @include span-columns(4 of 16);
      }
    }

    .content-main {
      @include fill-parent;

      @include media($tablet) {
        @include span-columns(8 of 12);
      }

      @include media($desktop) {
        @include span-columns(9 of 16);
        @include shift(1);
      }
    }
  }
}


/*
Header & footer

Style guide: Grid.7 Header & footer
*/

header {
  &[role='banner'] {
    @include outer-container(100%);
    min-width: 100%;
  }
}

footer {
  &[role='contentinfo'] {
    @include outer-container(100%);
    @include pad(0 default);

    margin-top: ($base-spacing * 2);
    min-width: 100%;
  }
}

/*
Accessibility

Style guide: Grid.8 Accessibility
*/
