[class^='controls'] {
  @include kit-link-colours($kit-link-colour-inverted, $kit-link-colour-inverted, $kit-controls-bg-colour);
  @include button-colours(transparent, $kit-body-inverted-text-colour, $kit-body-inverted-text-colour, $kit-controls-bg-colour);

  padding: $kit-spacing-tiny 0;
  background-color: $kit-controls-bg-colour;
  color: $kit-body-inverted-text-colour;

  section {

    @include span-columns(4 of 4);

    @include media($tablet) {
      @include span-columns(6 of 12);
    }

    @include media($desktop) {
      @include span-columns(8 of 16);
    }

    &:first-child:last-child {
      @include span-columns(4 of 4);

      @include media($tablet) {
        @include span-columns(12 of 12);
      }

      @include media($desktop) {
        @include span-columns(16 of 16);
      }
    }

    &.right {
      @include media($tablet) {
        text-align: right;
      }
    }
  }

  [class^='breadcrumbs'] {
    width: auto;
    margin-right: $kit-spacing-small;
    background-color: transparent;
  }

  [role='button'] {
    margin: 0;
  }

  &[class$='--contrast'] {
    @include button-colours($kit-controls-bg-colour--contrast, $kit-body-inverted-text-colour, $kit-body-inverted-text-colour, $kit-body-inverted-text-colour, $kit-controls-bg-colour--contrast);

    background-color: $kit-controls-bg-colour--contrast;

    [role='button']:hover,
    [role='button']:focus {
      color: $kit-controls-bg-colour--contrast;
    }
  }
}

.govau--header,
.prerelease-govau--header {
  .links-group {
    margin: ($kit-spacing-base * 1.5) 0;

    @include ie-lte(8) {
      margin-bottom: 0;
      padding-bottom: $kit-spacing-base * 1.5;
    }

    h2 {
      font-size: rem(17);
      font-weight: $kit-font-weight-bold;
      margin-top: 0;
      padding: 0;
    }

    a {
      color: $white;
    }
  }
}

.govau--header {
  @include kit-link-colours($kit-link-colour-inverted, $kit-link-colour-inverted, $kit-link-colour);
  @include button-colours($kit-header-bg-colour, $kit-body-inverted-text-colour, $kit-body-inverted-text-colour, $kit-body-inverted-text-colour, $kit-header-bg-colour);

  position: relative;
  padding: $kit-spacing-medium 0 ($kit-spacing-base * 3);
  padding-bottom: $kit-spacing-medium;
  margin-bottom: 0;
  background-color: $kit-header-bg-colour;
  color: $kit-body-inverted-text-colour;

  @include media($tablet) {
    padding-bottom: $kit-spacing-medium;
  }

  @include ie-lte(8) {
    @include ie-clearfix;
    margin-bottom: 0;
    padding-bottom: $kit-spacing-base * 1.5;
  }

  .govau--logo {
    float: left;

    @include media($tablet) {
      padding-bottom: 0;
    }
  }

  .logo {
    font-size: rem(24);
    font-weight: $kit-font-weight-headings;
    padding-bottom: 2px;
    border-bottom: 0;
    color: $kit-body-inverted-text-colour;
    font-family: $kit-font-family-sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  [class^='badge'] {
    vertical-align: text-bottom;
    margin-left: $kit-spacing-tiny;
  }
}

.prerelease-govau--header {
  @include kit-link-colours($kit-link-colour-inverted, $kit-link-colour-inverted, $kit-link-colour);
  @include button-colours(transparent, $kit-body-inverted-text-colour, $kit-body-inverted-text-colour, $kit-body-inverted-text-colour, $kit-header-bg-colour);

  position: relative;
  padding: $kit-spacing-base 0 ($kit-spacing-base * 3);
  padding-bottom: $kit-spacing-medium;
  margin-bottom: 0;
  color: $kit-body-inverted-text-colour;

  background-color: $kit-header-bg-colour;
  background-image: image-url('header-bg.jpg');
  background-position: top right;
  background-repeat: no-repeat;

  //CSS gradient not used because of 'dazzle' issues on monitors with low refresh rate.
  //background: $kit-header-bg-colour; /* Old browsers */
  //background: linear-gradient(45deg, $kit-header-bg-colour 0%, $kit-header-bg-colour-2 30%, $kit-header-bg-colour-3 80%, $kit-header-bg-colour-3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043751', endColorstr='#1c809d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /* Note: do not use variables in above IE filter. */

  @include media($tablet) {
    padding-bottom: 0;
  }

  .govau--logo {
    display: inline-block;
    position: relative;

    @include media($tablet) {
      padding-bottom: 0;
    }

    @include ie-lte(8) {
      display: inline;
    }

    .brandbar {
      position: absolute;
      top: 42px;
      right: 66px;
      width: 50px;
      height: 5px;
    }
  }

  .govau--text {
    display: block;
    background-image: image-url('icons/logo-gov-au-2x.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    max-width: 337px;
    height: 51px;

    &.dusk {
      background-image: image-url('icons/logo-gov-au-2x-dusk.png');
    }

    &.dawn {
      background-image: image-url('icons/logo-gov-au-2x-dawn.png');
    }

    &.night {
      background-image: image-url('icons/logo-gov-au-2x-night.png');
    }

    @include ie-lte(8) {
      background-image: url('../latest/img/icons/logo-gov-au-1x.png');
    }
  }

  .logo {
    font-size: rem(24);
    font-weight: $kit-font-weight-headings;
    padding-bottom: 2px;
    border-bottom: 0;
    color: $kit-body-inverted-text-colour;
    font-family: $kit-font-family-sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  [class^='badge'] {
    vertical-align: text-bottom;
    margin-left: $kit-spacing-tiny;
  }

  .breadcrumbs,
  .breadcrumbs--inverted {
    margin-top: $kit-spacing-medium;
  }
}

.homeintro {
  p {
    font-size: rem(24);
  }
}

.feedback {
  display: none;

  @include media($tablet) {
    display: block;
    float: right;
    margin-left: $kit-spacing-base;
  }
}

.button--feedback {
  @extend .inverted;

  margin: 0;
  width: 100%;
  text-align: center;

  @include media($tablet) {
    width: auto;
    text-align: initial;
  }
}

.hero,
.hero-sml,
.hero-med {
  @include kit-link-colours($off-black, $light-aqua, $off-black);

  padding: ($kit-spacing-base * 2) 0;
  margin-bottom: 0;
  background-color: $off-white;
  color: $navy;

  &.corporate {
    //^ class name from platforms
    background-color: $kit-hero-bg-colour;
    color: $kit-body-inverted-text-colour;
  }

  h1 {
    font-size: rem(28);
    margin-top: 0;
    max-width: 20em;

    @include media($tablet) {
      font-size: rem(38);
    }
  }

  p {
    font-size: rem(24);
    max-width: 30em;
    margin-bottom: $kit-spacing-small;
  }

  .site-title {
    @extend h1;

    display: block;
    margin-top: 0;
    margin-bottom: $kit-spacing-tiny;
  }

  .tagline {
    font-size: $kit-font-size-large;
  }

  .wrapper {
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

}

.hero-sml {
  padding: $kit-spacing-medium 0;

  p {
    font-size: rem(19);
    font-weight: $kit-font-weight-bold;
  }
}

.hero-med {
  padding: ($kit-spacing-base * 1.5) 0;
}

/*
  Prototype branding bar. Work in progress
*/
.brandbar {
  $bar-noon-1: #00a1bb;
  $bar-noon-2: #b2e5ff;
  $bar-noon-3: #44c2ef;
  background-color: $bar-noon-1;
  height: 8px;
  position: relative;

  .b1 {
    position: absolute;
    left: 25%;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: $bar-noon-2;
  }

  .b2 {
    position: absolute;
    left: 75%;
    top: 0;
    bottom: 0;
    width: 25%;
    background-color: $bar-noon-3;
  }

  &.dusk {
    $bar-dusk-1: #a62355;
    $bar-dusk-2: #f16a6a;
    $bar-dusk-3: #9c0009;

    background-color: $bar-dusk-1;

    .b1 {
      background-color: $bar-dusk-2;
    }

    .b2 {
      background-color: $bar-dusk-3;
    }
  }

  &.night {
    $bar-night-1: #005ba8;
    $bar-night-2: #3e83c5;
    $bar-night-3: #002a42;

    background-color: $bar-night-1;

    .b1 {
      background-color: $bar-night-2;
    }

    .b2 {
      background-color: $bar-night-3;
    }
  }

  &.dawn {
    $bar-dawn-1: #e63426;
    $bar-dawn-2: #f38c22;
    $bar-dawn-3: #fbc515;

    background-color: $bar-dawn-1;

    .b1 {
      background-color: $bar-dawn-2;
    }

    .b2 {
      background-color: $bar-dawn-3;
    }
  }
}
