/*
Site nav

Markup: templates/site-nav.html

Style guide: Navigation.Site nav
*/

$site-nav-type-size: rem(16);
$site-nav-border-colour: $border-colour;
$site-nav-border-hover-colour: $border-highlight-colour;

.site-nav {
  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include media($tablet) {
      display: flex;
      justify-content: space-between;
    }

    li {

      margin: 0;

      @include media($tablet) {
        text-align: center;
      }

      a {
        display: block;
        border-color: $site-nav-border-colour;
        padding: $medium-spacing $gutter;
        font-weight: $bold-font-weight;
        font-size: $site-nav-type-size;

        &:hover {
          color: $link-inverted-colour;
        }

        @include media($tablet) {
          border-bottom: 6px solid transparent;

          &:hover {
            background-color: transparent;
            border-color: $site-nav-border-hover-colour;
            color: $link-colour;
          }
        }
      }
    }
  }
}
