/*
Site navigation

Markup: templates/site-nav.html

Use the site navigation to help the user to navigate between main sections.

The menu will collapse by default on small screens.

Older browsers (IE8 and lower) and those without JavaScript will get an expanded menu.

Style guide: Navigation.02 Site navigation
*/

$site-nav-type-size: rem(16);
$site-nav-border-width: 2px;
$site-nav-border-colour: $border-colour;
$site-nav-border-colour--hover: $border-highlight-colour;
$site-nav-item-colour--hover: $lighter-aqua;
$site-nav-toggle-width: 40%;

.site-nav {
  .nav-toggle {
    margin-left: 100% - $site-nav-toggle-width;
    width: $site-nav-toggle-width;
    background-color: transparent;
  }
}

.site-nav__wrapper {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: $site-nav-border-width solid $site-nav-border-colour;

    @include media($tablet) {
      display: flex;
      justify-content: space-between;
      border-top: none;

      @include ie-lte(9) {
        @include ie-clearfix;
      }
    }
  }

  li {
    margin: 0;

    @include media($tablet) {
      text-align: center;

      @include ie-lte(9) {
        float: left;
      }
    }

    a {
      display: block;
      border-color: $site-nav-border-colour;
      border-width: $site-nav-border-width;
      padding: $medium-spacing $gutter;
      font-weight: $bold-font-weight;
      font-size: $site-nav-type-size;

      &:hover {
        background-color: $site-nav-item-colour--hover;
      }

      @include media($tablet) {
        border-bottom: 6px solid transparent;

        &:hover {
          background-color: transparent;
          border-color: $site-nav-border-colour--hover;
          color: $link-colour;
        }
      }
    }
  }
}
