/*
Typography

This framework uses basic styling and good typographic defaults for clear and consistent content.

The types sizes are based on a perfect fourth modular scale.

This guidance may change to apply to only content inside an `article`.

```
$base-serif: 'Book Antiqua', Georgia, 'Bitstream Vera Serif', serif;
$base-sans-serif: 'Open Sans', Verdana, 'Bitstream Vera Sans', sans-serif;
$base-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
```

The font stacks should achieve roughly 95% coverage across a range of browsers and operating systems.

This supports modern browsers and older versions of Internet Explorer.

The base font's leading (`line-height`) is set using the variable `$base-leading` (`$base-leading: 1.6`).

Don’t apply a <code>font-size</code> to a container element (eg a <code>footer</code>).

`$base-leading` is used to calculate 5 spacing values in ems:

- `$base-spacing: $base-leading * 1em`
- `$large-spacing: $base-spacing * 2`
- `$medium-spacing: $base-spacing * 0.75`
- `$small-spacing: $base-spacing / 2`
- `$tiny-spacing: $base-spacing / 4`.

We may change:

- `$base-spacing` to a figure that is easier to multiply and divide
- to using rems instead of ems, for consistency in calculations (in preference to relational proportionality in sizing).

Collection: Foundations

Style guide: Typography
*/

/*
Typeface

Style guide: Typography.1 Typeface
*/

html {
  color: $body-text-colour;
  line-height: $base-leading;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

body {
  font-size: rem(16);

  @include media($tablet) {
    font-size: rem(17);
  }
}

/*
Headings

Markup: templates/heading-styles.html

Style guide: Typography.2 Headings
*/

/*
Body copy

Markup: templates/body-styles.html

Style guide: Typography.3 Body copy
*/

// Styling for headings
//
// Note that we style h5 and h6 are identical to h4.

h1,
h2,
h3,
h4 {
  line-height: $base-heading-leading;
  font-weight: $base-font-weight;
  margin-bottom: $tiny-spacing;
  margin-top: $base-spacing;
}

h1 {
  font-size: rem(24);
  font-weight: $bold-font-weight;
  margin-bottom: $small-spacing;

  @include media($tablet) {
    font-size: rem(28);
  }

  @include media($desktop) {
    font-size: rem(40);
  }

  &:first-of-type {
    margin-top: $tiny-spacing;
  }

  @include ie-lte(8) {
    font-size: 32px;
  }
}

@mixin h2 {
  font-size: rem(32);
  line-height: $small-leading;
  margin-top: $base-spacing;
  margin-bottom: 1em;

  @include media($tablet) {
    font-size: rem(40);
  }

  @include ie-lte(8) {
    font-size: 44px;
  }
}

h2 {
  @include h2;
}

h3 {
  font-size: rem(24);
  font-weight: $heading-font-weight;
  margin-top: $medium-spacing + ($small-spacing / 3); // 38.133px; was 34.4px from Alz.
  margin-bottom: $small-spacing;

  @include media($tablet) {
    font-size: rem(26);
  }

  @include ie-lte(8) {
    font-size: 26px;
  }
}

h4,
h5,
h6 {
  font-size: rem(18);
  font-weight: $heading-font-weight;

  @include ie-lte(8) {
    font-size: 18px;
  }
}

// Document this later.
.gov-speak {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: $base-heading-leading;
    font-weight: $heading-font-weight;
    margin-bottom: $tiny-spacing;
    margin-top: $base-spacing;
  }

  h1 {
    font-size: rem(32);
    line-height: $small-leading;

    @include media($tablet) {
      font-size: rem(44);
    }

    @include media($desktop) {
      font-size: rem(40);
    }

    &:first-of-type {
      margin-top: $tiny-spacing;
    }
  }

  h2 {
    font-size: rem(28);
    line-height: $small-leading;

    @include media($tablet) {
      font-size: rem(32);
    }
  }

  h3 {
    font-size: rem(24);
    font-weight: $heading-font-weight;

    @include media($tablet) {
      font-size: rem(26);
    }
  }

  h4 {
    font-size: rem(19);
    font-weight: $heading-font-weight;

    @include media($tablet) {
      font-size: rem(22);
    }
  }

  h5 {
    font-size: rem(17);
    font-weight: $heading-font-weight;
  }

  h6 {
    font-size: rem(17);
    font-weight: $heading-font-weight;
  }
}

/*
Line length

UI Kit applies a maximum width to typographic elements that appear within the main content container. This maintains a readable line length.

A max-width of 38rem (about 70 characters) is applied to these elements:

- h1 - h5
- p
- li
- dl

If you'd like to include an element that spans across the maximum available space, apply the class `.content-full-width.`

*/

.content-main {
  @include media($desktop) {
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    li,
    dl {
      max-width: 38rem;
    }

    .content-full-width {
      max-width: none;
      width: 100%;
    }
  }
}

code,
pre,
samp,
kbd {
  font-family: $base-monospace;
  font-size: $small-font-size;
}

kbd {
  display: inline-block;
  border: solid 1px $light-aqua;
  border-radius: $base-border-radius;
  box-shadow: 0 1px 0 0 $light-aqua;
  background-color: $non-white;
  color: $dark-aqua;
  text-align: center;
  font-size: $small-font-size;
  padding: 0 $small-spacing;
  margin: 0 $tiny-spacing;
}

strong {
  font-weight: $bold-font-weight;

  // Huh?
  &.very-bold {
    font-weight: $heading-font-weight;
  }
}

// For display font sizing.
.display {
  @extend h2;
}

// More specialised typography.
//
// For abstracts or page introductory paragraphs.
// Todo: document `.lede`.
.abstract,
.lede {
  margin: $medium-spacing 0 ($base-spacing * 1.25);
  border-bottom: 1px solid $border-colour;

  p {
    font-size: rem(19);
    font-weight: $base-font-weight;

    @include media($tablet) {
      font-size: rem(21);
    }

    @include media($desktop) {
      font-size: rem(24);
    }
  }
}

// To be deprecated as of v2.0
//
// We are retaining this so that p.abstract is possible. Please use div.abstract p.
p {
  &.abstract {
    margin: $small-spacing 0 ($medium-spacing * 1.25);
    padding-bottom: $medium-spacing;
    border-bottom: 1px solid $border-colour;
    font-size: rem(19);

    @include media($tablet) {
      font-size: rem(21);
    }

    @include media($desktop) {
      font-size: rem(24);
    }
  }
}

hr {
  border-color: $border-colour;
  border-style: solid;
  border-bottom: none;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
}

/*
Links

Markup: templates/basic-links.html

Style guide: Typography.4 Links
*/

/*
Lists

Markup: templates/list-examples.html

Style guide: Typography.5 Lists
*/

ul,
ol {
  padding-left: ($base-spacing + $small-spacing);

  ul {
    list-style-type: disc;
  }
}

ul,
ol,
dl,
p,
dt,
dd {
  margin-top: 0; // Check up on where margin-top is coming from...
  margin-bottom: $medium-spacing;
  line-height: $base-spacing;
}

li {
  margin-bottom: ($small-spacing / 1.5);

  ul,
  ol {
    margin-top: $tiny-spacing;
    margin-bottom: 0;
  }
}

dt {
  display: inline-block;
  font-weight: $bold-font-weight;
  margin-top: $tiny-spacing;

  &:first-of-type {
    margin-top: 0;
  }
}

/*
Callouts & warnings

There are 6 classes for drawing the user's attention:

- `.callout`
- `.callout--warning` for warnings
- `.callout--error` for errors
- `.callout--info` for information
- `.callout--success` for success
- `.callout--calendar-event` for dates.

You can use these on paragraphs (`<p>`), or on a wrapping element, like a `<div>` or an `<aside>`.

Markup: templates/callouts-examples.html

<details open data-label="callouts-accessibility" aria-expanded="false">
  <summary>Accessibility &amp; browser testing</summary>
  <div class="accordion-panel">
  <strong>Passed</strong>:
    <ul>
      <li>HTML5 validation (<a href="http://validator.github.io/validator/" rel="external">Nu Html Checker</a>)</li>
      <li>WCAG:AA automated (<a href="http://squizlabs.github.io/HTML_CodeSniffer/Standards/WCAG2/" rel="external">HTML_CodeSniffer</a>)</li>
    </ul>
  <strong>Untested</strong>:
    <ul>
      <li>WCAG:AA manual</li>
      <li>Browser support &mdash; automated and manual</li>
    </ul>
  </div>
</details>

Style guide: Typography.7 Callouts & warnings
*/

%base-callout {
  margin: $base-spacing $small-spacing;
  padding: $medium-spacing $medium-spacing $medium-spacing $base-spacing;
  border-radius: $tiny-border-radius;
  box-shadow: 0 0 8px $light-grey;
}

.callout {
  @extend %base-callout;
}

[class^='callout--'],
[class*=' callout--'] {
  @extend %base-callout;

  padding-left: $base-spacing - $tiny-spacing;
  border-left-width: $tiny-spacing;
  border-left-style: solid;
}

.callout--warning {
  border-left-color: $warning-colour;
}

.callout--info {
  border-left-color: $info-colour;
}

.callout--error {
  border-left-color:  $error-colour;
}

.callout--success {
  border-left-color: $success-colour;
}

.callout--calendar-event {
  @extend %base-callout;

  margin-left: 0;
  box-shadow: none;
  padding-bottom: $small-spacing;
  background-color: $callout-bg-light-colour;

  time,
  .event-name {
    font-size: rem(32);
    line-height: $small-leading;
  }

  time {
    display: block;
    font-weight: $heading-font-weight;
  }

  .event-name {
    font-weight: $base-font-weight;
  }

  .next-event {
    display: block;
    font-size: rem(17);
    font-weight: $base-font-weight;
    margin-bottom: $tiny-spacing;
  }
}

/*
Badges

Markup: templates/badges.html

Style guide: Typography.8 Badges
*/

$badges: (
  'default':  $badge-colour--default,
  'alpha':    $badge-colour--alpha,
  'beta':     $badge-colour--beta,
  'error':    $badge-colour--error,
  'success':  $badge-colour--success,
);

@each $badge-type, $colour in $badges {
  .badge--#{$badge-type} {
    display: inline-block;
    background-color: $colour;
    border-radius: $large-border-radius;
    padding: $tiny-spacing $small-spacing;
    line-height: 1;
    letter-spacing: 1px;
    color: lighten($colour, 75%);
    font-size: rem(14);
  }
}

/*
Quotations

Markup: templates/quotation-examples.html

Style guide: Typography.5 Quotations
*/

blockquote {
  margin: $medium-spacing 0;
  padding: $small-spacing ($base-spacing + $small-spacing);
  background-color: $background-secondary-colour;
  font-family: $base-serif;
  quotes: '\201C''\201D''\2018''\2019';

  &.pullquote {
    padding: 0;
    background-color: $background-colour;

    p {
      font-size: rem(24);
      line-height: $base-leading;
      text-align: center;
      font-weight: $base-font-weight;
      margin-top: $base-spacing;

      @include media($tablet) {
        font-size: rem(26);
      }
    }

    // Support: IE7 does not properly support pseudo elements `:before`/`:after`: http://caniuse.com/#feat=css-sel2

    &::before,
    &::after {
      text-align: center;
      margin: 0;
    }
  }

  &::before,
  &::after {
    display: block;
    height: 0;
    font-family: $base-serif;
    font-size: rem(43);
    color: $aqua;
  }

  &::before {
    margin-left: -($small-spacing * 0.75);
    padding-bottom: $tiny-spacing;
    content: open-quote;
  }

  &::after {
    margin-right: -($small-spacing * 0.75);
    margin-top: -($small-spacing);
    padding-bottom: $medium-spacing;
    text-align: right;
    content: close-quote;
  }

  footer {
    margin-top: $medium-spacing;
    padding-top: $tiny-spacing;
    border-top: 1px solid $light-grey;
  }

  cite {
    display: inline-block;
    font-family: $base-sans-serif;

    &::before {
      content: 'Citation: ';
      text-transform: lowercase;
      font-variant: small-caps;
      letter-spacing: 1px;
      color: $body-text-colour;
    }
  }

  // So that nested blockquotes do not break the vertical rhythm.
  blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

q {
  // Investigate: switching to html entities?
  quotes: '“' '”' '‘' '’' '“' '”' '‘' '’';
}

cite {
  font-style: $base-font-style;
}

article {
  h1:first-of-type {
    margin-top: 0;
  }
}
