{{> header}}
<!-- ========== Page header ========== -->
<header role="banner">
  <section class="prerelease-govau--header">
    <div class="wrapper">
      <div class="govau--logo">
        <img src="../latest/img/icons/logo-govau-full-2x.png" alt="gov.au crest logo" width="270"/>

        <div id="test" class="brandbar default"><!--ID is temp for example-->
          <div class="b1"></div>
          <div class="b2"></div>
        </div>
      </div>

      <div class="feedback">
        <a href="#content" class="button--feedback">Give feedback</a>
      </div>

    </div><!--wrapper-->

    <nav class="breadcrumbs--inverted" aria-label="breadcrumb">
      <div class="wrapper">
        <ul>
          <li><a href="#content">Home</a></li>
          <li><a href="#content">Department of Communications and the Arts</a></li>
          <li class="current">Contact us</li>
        </ul>
      </div>
    </nav>

  </section>
</header><main role="main">
  <aside class="sidebar" id="nav">

    <!-- ========== Nav ========== -->
    <nav class="local-nav" aria-label="main navigation">
      <h1 class="is-visuallyhidden">Menu</h1>
      <ul>
        <li><a class="is-active" href="agency-landing.html">Department of Communications and the Arts</a>
          <ul>
            <li><a href="#content">Our role</a></li>
            <li><a href="#content">People and structure</a></li>
            <li><a href="#content">Consultations</a></li>
            <li><a href="agency-content.html">Careers</a></li>
            <li><a href="#content">News</a></li>
            <li><a href="#content">Performance reports</a></li>
            <li><a href="#content">Budget and plans</a></li>
            <li><a href="#content">Grants and tenders</a></li>
            <li><a class="is-active is-current" href="#content">Contact us</a></li>
          </ul>
        </li>
      </ul>
    </nav>

  </aside>


  <!-- ========== Content ========== -->
  <article id="content" class="content-main">
    <header>
      <h1>Contact us</h1>
      <div class="abstract">
        <p>You can contact us in a number of ways.</p>
      </div>

      <nav class="index-links">
        <h2>On this page</h2>
        <ul>
          <li><a href="#email">Email</a></li>
          <li><a href="#phone">Phone</a></li>
          <li><a href="#locations-and-opening-hours">Locations and opening hours</a></li>
          <li><a href="#postal-address">Postal address</a></li>
          <li><a href="#social-media">Social media</a></li>
          <li><a href="#how-we-handle-enquiries">How we handle enquiries</a></li>
        </ul>
      </nav>
    </header>

    {{> accordion}}
    {{> calendar-callout-example}}
    {{> heading-body-styles}}
    {{> lists-horizontal}}
    {{> skip-link}}
    {{> badges}}
    {{> callouts-examples}}
    {{> index-links}}
    {{> lists-small}}
    {{> tab-style-nav}}
    {{> basic-links}}
    {{> content-full-width}}
    {{> inline-links}}
    {{> lists-vertical}}
    {{> table-calendar}}
    {{> breadcrumbs}}
    {{> inline-nav }}
    {{> local-navigation}}
    {{> table-examples}}
    {{> buttons-examples}}
    {{> global-navigation}}
    {{> list-examples }}
    {{> quotation-examples }}
    {{> text-input-single-line}}
    {{> buttons }}
    {{> groups-links}}
    {{> lists-highlighted}}
    {{> see-more-link}}

  </article>
  <!-- ========== end Content ========== -->
</main>
{{> footer}}
